<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{messages.edit.password}"></title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="/asset/css/framework.css" />
    <link rel="stylesheet" type="text/css" href="/asset/css/swiper.min.css" />
    <link rel="stylesheet" type="text/css" href="/asset/css/edit_input.css" />
    <script src="/asset/js/jquery-3.3.1.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/asset/js/changePX.js" type="text/javascript" charset="utf-8"></script>
    <script src="/asset/js/main.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
<form th:action="@{/buyer/account_password_save.htm}" method="post" name="theForm" id="theForm">
<div class="ui-pane">
    <div class="ui-header">
        <a href="" class="header-button">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-left"></use>
            </svg>
        </a>
        <div class="header-title" th:text="#{messages.edit.password}"></div>
    </div>
    <div class="ui-content">
        <div class="lin_box flex-between">
            <span th:text="#{messages.password.old}"></span>
            <input type="password" name="old_password" id="old_password" placeholder="请输入修改内容" />
        </div>
        <div class="lin_box flex-between">
            <span th:text="#{messages.password.new}"> </span>
            <input type="password" name="new_password" id="new_password" placeholder="请输入修改内容" />
        </div>
        <div class="lin_box flex-between">
            <span th:text="#{messages.password.confirm}"> </span>
            <input type="password" name="new_password1" id="new_password1" placeholder="请输入修改内容" />
        </div>

        <!-- 含有按钮 -->

        <!--<div class="lin_box btn_line flex-between">
            <div class="flex-star">
                <span>修改密码</span>
                <input type="number" name="" id="" placeholder="输入验证码" />
            </div>
            <input type="button" name="" id="" value="获取手机验证码" />
        </div>-->

        <input type="submit" class="btn" name="" id="" th:value="#{messages.save}" />
    </div>
</div>
</form>
</body>
<script>
    jQuery(document).ready(function(){
        jQuery("#theForm").validate({
            rules: {
                old_password:{required:true},
                new_password:{required:true,minlength:6,maxlength:20},
                new_password1:{required:true,equalTo:"#new_password"}
            },
            messages: {
                old_password:{required:"当前密码不能为空"},
                new_password:{required:"新密码不能为空",minlength:"新密码不能少于{0}位",maxlength:"新密码不能大于{0}位"},
                new_password1:{required:"重复密码不能为空",equalTo:"两次密码输入不一样"}
            }
        });
    });
</script>
<script type="text/javascript">
</script>
</html>
