<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title th:text="#{messages.edit.data}"></title>
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<link rel="stylesheet" type="text/css" href="/asset/css/framework.css" />
	<link rel="stylesheet" type="text/css" href="/asset/css/swiper.min.css" />
	<link rel="stylesheet" type="text/css" href="/asset/css/edit_input.css" />
	<script src="/asset/js/jquery-3.3.1.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="/asset/js/changePX.js" type="text/javascript" charset="utf-8"></script>
	<script src="/asset/js/main.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
	<div class="ui-pane">
		<div class="ui-header">
			<a href="" class="header-button">
				<svg class="icon" aria-hidden="true">
					<use xlink:href="#icon-left"></use>
				</svg>
			</a>
			<div class="header-title" th:text="#{messages.edit.data}"></div>
		</div>
		<div class="ui-content">
			<div class="lin_box flex-between">
				<span th:text="#{messages.username}"></span>
				<input type="text" name="username" id="username" placeholder="请输入修改内容" />
			</div>
			<div class="lin_box flex-between">
				<span th:text="#{messages.sex}"></span>
				<input type="text" name="sex" id="sex" placeholder="请输入修改内容" />
			</div>
			<div class="lin_box flex-between">
				<span th:text="#{messages.birthday}"></span>
				<input type="text" name="birthday" id="birthday" placeholder="请输入修改内容" />
			</div>
			<div class="lin_box flex-between">
				<span th:text="#{messages.telephone}"></span>
				<input type="text" name="telephone" id="telephone" placeholder="请输入修改内容" />
			</div>

			<div class="lin_box flex-between">
				<span>E-mail</span>
				<input type="text" name="email" id="email" placeholder="请输入修改内容" />
			</div>

			<!-- 含有按钮 -->

			<!--<div class="lin_box btn_line flex-between">
				<div class="flex-star">
					<span>修改手机号</span>
					<input type="number" name="" id="" placeholder="输入验证码" />
				</div>
				<input type="button" name="mobile" id="mobile" onclick="generic_mobile_verify_code();" id="mobile_verify_code_generic" value="获取手机验证码" />
			</div>-->

			<input type="button" class="btn" name="" id="" th:value="#{messages.save}" />
		</div>
	</div>
</body>
<script type="text/javascript">
</script>
</html>
