<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="UTF-8">
		<title th:text="#{messages.shipping.address}"></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="/asset/css/framework.css" />
		<link rel="stylesheet" type="text/css" href="/asset/css/site.css" />
		<script src="/asset/js/jquery-3.3.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/asset/js/changePX.js" type="text/javascript" charset="utf-8"></script>
		<script src="/asset/js/main.js" type="text/javascript" charset="utf-8"></script>
		<script src="https://at.alicdn.com/t/font_2092067_0ezbr53fvx9h.js" type="text/javascript" charset="utf-8"></script>
	</head>

	<body>
		<div class="ui-pane">
			<div class="ui-header">
				<a href="" class="header-button">
					<svg class="icon" aria-hidden="true">
						<use xlink:href="#icon-left"></use>
					</svg>
				</a>
				<div class="header-title" th:text="#{messages.shipping.address}"></div>
			</div>
			<div class="ui-content" style="padding-bottom: 1rem;">

				<div th:each="obj :${objs}" class="main_content public_padding">
					<div class="content_name public_flex_between">
						<div >
							<span th:text="#{messages.shipping.person}"></span>
							<span th:text="${obj.truename}" class="person"></span>
						</div>
						<div  class="phone" th:text="${obj.telephone}"></div>
					</div>
					<div class="content_dizhi"  th:text="${obj.countries == null?'':obj.countries } + ${obj.city== null?'':obj.city +obj.areaInfo}"></div>
					<div class="content_bt public_flex_between">
						<label class="font_color color1">
							<input class="font_color_text"  th:data-id="${obj.id}" th:checked="${obj.isdefault == true?true:false}" type="radio" name="isdefault" /> 默认地址
						</label>
						<div class="public_bt">
							<div>
								<a th:href="@{/buyer/address_edit.htm(id=${obj.id})}">
								<svg class="icon bt_icon" aria-hidden="true">
									<use xlink:href="#icon-bianji"></use>
								</svg>
								</a>
							</div>
							<div>
								<input type="hidden" name="id" class="objid" th:value="${obj.id}">
								<a th:href="@{/buyer/address_del.htm(mulitId=${obj.id})}">
								<svg class="icon bt_icon" aria-hidden="true">
									<use xlink:href="#icon-shanchu"></use>
								</svg>
								</a>
							</div>
						</div>
					</div>
				</div>


				<div class="main_bt">
					<button class="bt" id="new_address" th:text="#{messages.address.add}"></button>
				</div>

			</div>
		</div>
	</body>
	<script type="text/javascript">


		$(function(){
			$(".font_color_text").click(function(){
				var id = $(this).attr("data-id");
				if(id){
					$.post('/buyer/address_save_default.htm',{'id':id,'isdefault':"1" },function(res){

					});
				}
				$(".font_color").css({
					"color":"#3c3c3c",
				})
				$(this).parents(".font_color").css({
					"color":"#ff7710",
				})
			})

			$("#new_address").click(function(){
				window.location.href="/buyer/address_add.htm";
			});


			/*$(".main_content").click(function() {
				var person = $(this).find(".person").text();
				var phone = $(this).find(".phone").text();
				var address = $(this).find(".content_dizhi").text();
				var obj = {
					person:person,
					phone:phone,
					address:address
				}

				window.sessionStorage.setItem("obj",JSON.stringify(obj));

			})*/


			$(".bt_icon").click(function(){
				$(this).parents(".main_content").remove();
			})

		})


	</script>

</html>
