<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>分类</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<link rel="stylesheet" type="text/css" href="/asset/css/framework.css" />
	<link rel="stylesheet" type="text/css" href="/asset/css/classify.css"/>
	<script src="/asset/js/jquery-3.3.1.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="/asset/js/changePX.js" type="text/javascript" charset="utf-8"></script>
	<script src="/asset/js/main.js" type="text/javascript" charset="utf-8"></script>
</head>
<style>
	.mian_left div {
		padding: .1rem 0;
		text-align: center;
		color: #666;
		font-size:.2rem;
	}

	/*.mian_left > div:hover{
		background-color: #ee921e !important;
	}*/
</style>
<body>
	<div class="ui-pane">
		<div class="">
			<div class="ui-nav">
				<a class="item" href="/wap/index.htm">
					<svg class="icon" aria-hidden="true">
						<use xlink:href="#icon-dianpu"></use>
					</svg>
					<span class="item-text">首页</span>
				</a>
				<a class="item active" href="/goodsclass.htm">
					<svg class="icon" aria-hidden="true">
						<use xlink:href="#icon-classify-on"></use>
					</svg>
					<span class="item-text">分类</span>
				</a>
				<a class="item" href="/goods_cart1.htm">
					<svg class="icon" aria-hidden="true">
						<use xlink:href="#icon-gouwuche-zhuangtai"></use>
					</svg>
					<span class="item-text">购物车</span>
				</a>
				<a class="item" href="/member_center.htm">
					<svg class="icon" aria-hidden="true">
						<use xlink:href="#icon-icon_mine"></use>
					</svg>
					<span class="item-text">我的</span>
				</a>
			</div>
		</div>
		<div class="ui-content">
			<div class="search_box flex-star">
				<svg class="icon" aria-hidden="true">
					<use xlink:href="#icon-sousuo"></use>
				</svg>
				<input type="text" name="" id="" placeholder="请输入您要搜索的内容" />
			</div>
			<div class="page_main flex-between">
				<div class="mian_left">
					<!--<div class="mian_left_act">所有商品</div>-->
					<div th:each="gc,index :${gcs}" th:text="${gc.classname}" th:data-id="${gc.id}" th:style="${index.index==0?'background-color:#f2f2f2;':''}"></div>
				</div>
				<div class="main_right" >
					<img class="right_banner" src="asset/img/class_banner.png" >
					<div class="classify_box flex-star" th:each="gc,index :${gcs}"   th:data-id="${gc.id}" th:style="${index.index==0?'display: flex;':'display: none;'}">
						<a class="ify_item" th:href="@{/goods_list.htm(gc_id = ${gc1.id})}"   th:each="gc1 :${gc.childs}">
							<div   class="item_img flex-center" >
								<img th:if="${gc1.acc}" th:src="@{${'/'+gc1.acc.path+'/'+gc1.acc.name }}" >
								<img th:unless="${gc1.acc}" src="asset/img/化妆品.png" >
							</div>
							<p th:text="${gc1.classname}"></p>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript">
	$(".mian_left").children(":first").css("background-color","#ee921e");

	$(".mian_left > div").click(function(){
		var divs=$(".mian_left > div").css("background-color","#f2f2f2");
		$(this).css("background-color","#ee921e");
		 var gc_id= $(this).attr('data-id');

		 access(gc_id);
	});

	function access(gc_id){
		var s= $(".classify_box");
		if(s){
			s.each(function(){
				var gcid=$(this).attr('data-id');
				$(this).css("display",'none');
				if(gc_id ==  gcid){
					$(this).css("display",'flex');
				}
			})
		}
	}
</script>
</html>
