<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>emode goods detail</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<link rel="stylesheet" type="text/css" href="/asset/css/swiper.min.css" />
	<link rel="stylesheet" type="text/css" href="/asset/css/framework.css" />
	<link rel="stylesheet" type="text/css" href="/asset/css/goods_intro.css" />
	<script src="/asset/js/jquery-3.3.1.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="/asset/js/changePX.js" type="text/javascript" charset="utf-8"></script>
	<script src="/asset/js/main-new.js" type="text/javascript" charset="utf-8"></script>
	<script src="/asset/js/swiper.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="/asset/js/main.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
	<div class="ui-pane">
		<div class="ui-header">
			<a href="" class="header-button">
				<svg class="icon" aria-hidden="true">
					<use xlink:href="#icon-left"></use>
				</svg>
			</a>
			<div class="header-title" th:text="#{messages.goods.details}"></div>
		</div>
		<div class="ui-content">
			<div class="swiper1 swiper-container">
				<div class="swiper-pagination"></div>
				<div class="swiper-wrapper">
					<div class="swiper-slide" th:if="${obj.goods_main_photo != null}">
						<img th:src="@{'/'+${obj.goods_main_photo.path}+'/'+${obj.goods_main_photo.name}}">
					</div>
					<div class="swiper-slide" th:if="${obj.goods_photos !=  null }"  th:each="img,iter: ${obj.goods_photos}">
						<img th:src="@{'/'+${img.path}+'/'+${img.name}}">
					</div>
				</div>
			</div>

			<div class="intro_line flex-between">
				<input type="hidden" id="groupBuy" name="groupBuy" th:value="${obj.groupBuy}">
				<input type="hidden" id="store_id" name="store_id" th:value="${obj.goodsStoreId}">
				<input type="hidden" id="user_store_id" name="user_store_id" th:value="${user.storeId}">
				<input type="hidden" id="goodsId" name="goodsId" th:value="${obj.id}">
				<div class="price_box">
					<div class="price" th:if="${obj.groupBuy !=2}">
						<span th:text="#{messages.money.class}"></span>
						<span id="store_price" th:text="${obj.storePrice}"></span>
					</div>
					<div class="price" th:if="${obj.groupBuy ==2}" th:each="groupGood :${groupGoods}">
						<span th:text="#{messages.money.class}"></span>
						<span id="gg_price" th:text="${groupGood.ggPrice}"></span>
					</div>
					<div class="price_del" >
						<del th:text="${obj.goodsPrice}"></del>
					</div>
				</div>
				<div class="collect_box" id="add_favorite">
					<svg class="icon collect_act" data-iscollect="1" aria-hidden="true">
						<use xlink:href="#icon-shoucang"></use>
					</svg>
					<p id="goodscollect" th:text="${obj.goodsCollect}"></p>
				</div>
			</div>
			<div class="goods_tit" th:text="${obj.goodsName}">

			</div>

			<div class="cuxiao">
				<div class="cux_tit flex-between">
					<div>
						<a th:href="@{/store.htm(id=${obj.goodsStoreId})}" style="color: #ff9900" th:text="#{messages.store.in}"></a>
					</div>
					<svg class="icon" aria-hidden="true">
						<use xlink:href="#icon-right"></use>
					</svg>
				</div>
			</div>

			<div class="ui-shade">
				<div class="ui-modal">
					<svg class="icon modal_close" aria-hidden="true">
						<use xlink:href="#icon-quxiao"></use>
					</svg>
					<div class="goods_into flex-star">
						<img th:if="${obj.goods_main_photo != null }" th:src="@{'/'+${obj.goods_main_photo.path}+'/'+${obj.goods_main_photo.name}}">
						<div class="goods_tit">
							<div th:text="${obj.goodsName}"></div>
							<div class="shose_spec">
								<b th:text="#{messages.cart.select}"></b>
								<span></span>
							</div>
						</div>
					</div>

					<div class="goods_spec">
						<div class="spec_line" id="specification" th:if="${obj.specification != null}" th:each="spec : ${obj.specification}">
							<div class="spec_tit">
								<span th:text="${spec.name}"></span>
								<b></b>
							</div>
							<div class="sepc_cont flex-star" >
								<div th:each="gsp : ${obj.goods_specs}" th:if="${gsp.spec.id == spec.id}" th:data-id="${obj.id}"  th:text="${gsp.value}" th:attr="gsp=${gsp.id}">
								</div>
							</div>
						</div>
					</div>

					<div class="spec_line">
						<div class="spec_tit" th:text="#{messages.amount}"></div>
						<div class="num_opt flex-star">
							<div id="sub_count" >-</div>
							<input type="number" name="count" id="count" value="1" />
							<div id="add_count">+</div>
							&nbsp;&nbsp;&nbsp;
							<input type="number" name="inventory" id="inventory" th:value="${obj.goodsInventory}" disabled="disabled" style="width: 1rem;" />
						</div>
					</div>

					<div class="modal_btn flex-between">
						<input type="button" class="" th:data-id="${obj.id}" name="mal_btn" id="add_cart" value="加入购物车" />
						<input type="button" class="" th:data-id="${obj.id}" name="mal_btn" id="buy_goods" value="立即购买" />
					</div>
				</div>
			</div>

			<div class="tips">
				<!--<p>处理时间:当项目被选中时计算</p>-->
				<p th:text="#{messages.delivery.notice}"></p>
			</div>

			<div class="youguess" >
				<div class="youguess_tit" th:text="#{messages.can.like}">
				</div>
				<div class="swiper2 swiper-container">
					<div class="swiper-pagination"></div>
					<div class="swiper-wrapper">
						<div class="swiper-slide" th:each="goods : ${goods_recommend_list}">
							<a th:href="@{/goods.htm(id=${goods.id})}">
							<img th:if="${goods.goods_main_photo}"
								 th:src="@{'/'+${goods.goods_main_photo.path}+'/'+${goods.goods_main_photo.name}}"
								 original=""  onerror="this.src='/'+${config.goodsImage.path}+'/'+${config.goodsImage.name};" />
							<img th:unless="${goods.goods_main_photo}" th:src="@{'/'+${config.goodsImage.path}+'/'+${config.goodsImage.name}}"
								 original="" th:onerror="this.src='/'+${config.goodsImage.path}+'/'+${config.goodsImage.name};"
								 />
							</a>
						</div>
					</div>
				</div>
			</div>

			<div class="Details_cont">
				<div class="Details_tit flex-center">
					<div></div><span>Details</span><div></div>
				</div>
				<div class="goods_intro_box">
					<div th:utext="${obj.goodsDetails}"></div>
				</div>
			</div>

			<div class="page_bottom flex-between">
				<div class="bottom_box flex-between">
					<div class="bottom_icon">
						<svg class="icon" aria-hidden="true">
							<use xlink:href="#icon-dianpu1"></use>
						</svg>
						<p><a th:href="@{/store.htm(id=${obj.goodsStoreId})}" th:text="#{messages.shop}"></a></p>
					</div>
					<div class="bottom_icon enterclassify">
						<svg class="icon" aria-hidden="true">
							<use xlink:href="#icon-classify-on"></use>
						</svg>
						<p><a th:href="@{/goodsclass.htm(storeId=${obj.goodsStoreId})}" th:text="#{messages.class}"> </a></p>
					</div>
					<div class="bottom_icon entercart">
						<svg class="icon" aria-hidden="true">
							<use xlink:href="#icon-gouwuchezhengpin"></use>
						</svg>
						<p><a  th:href="@{/goods_cart1.htm}" th:text="#{messages.goods.cart}"></a></p>
						<div class="cart_num flex-center" id="cart_unm" th:text="${cartSize != null?cartSize: 0 }"></div>
					</div>
				</div>
				<input type="button" class="bottom_btn" name=""  value="加入购物车" />
				<input type="button" class="bottom_btn" name=""  value="立即购买" />
			</div>
		</div>
	</div>
</body>
<script type="text/javascript">

	$(".enterclassify").click(function () {
		window.sessionStorage.setItem("newindex",1);
	})

	$(".entercart").click(function () {
		window.sessionStorage.setItem("newindex",2);
	})


	$("#add_cart").on('click',function (){
		var  id= $(this).attr('data-id');
		var count = $("#count").val();
		var groupBuy =$("#gropBuy").val();
		var price;
		if(groupBuy == '2'){
			price=$("#gg_price").text();
		}else{
			price=$("#store_price").text();
		}

		var gsp="";
		var load = true;
		if($("#specification").length==0){
			load=true;
		}else{
			var s=$("div[class=sepc_act]")
			if(s.length>$("#specification").length){
				s.each(function () {
					gsp = $(this).attr("gsp") + "," + gsp;
				});
				console.log("gsp", gsp);
			}else{
				load=false;
				alert("请正确选择规格！！！")
			}
		}

		if(!count_verify(count)){
			load= false;
			alert('数量信息有误');
		}
		if(load){
			add_goods_to_cart(id,count,price,gsp,false)
		}else{
			alert('购物失败');
		}
	})

	$("#buy_goods").on('click',function (){
		var  id= $(this).attr('data-id');
		var count = $("#count").val();
		var groupBuy =$("#gropBuy").val();
		var price;
		if(groupBuy == '2'){
			price=$("#gg_price").text();
		}else{
			price=$("#store_price").text();
		}

		var gsp="";
		var load = true;
		if($("#specification").length==0){
			load=true;
		}else{
			var s=$("div[class=sepc_act]")
			console
			if(s!=null){
				s.each(function () {
					gsp = $(this).attr("gsp") + "," + gsp;
				});
				console.log("gsp", gsp);
			}else{
				load=false;
			}
			if(gsp.length < 1){
				load=false;
				alert("请选择规格属性");
			}
		}

		if(!count_verify(count)){
			load= false;
			alert('数量信息有误');
		}
		if(load){
			add_goods_to_cart(id,count,price,gsp,true)
		}else{
			alert('购物失败');
		}
	});

	$("#count").blur(function(){
		var count = $(this).val();
		var flag= count_verify(count);
		if(!flag){
			alert('商品数量填写有误');
		}
	});

	function count_verify(count){
		var inventory = parseInt($("#inventory").val());
		if(!count){
			return false;
		}else{
			count =parseInt(count);
			if(count <1 ){
				return false;
			}
			if(count>inventory){
				return false;
			}
			return true;
		}
	}

	/**
	 * 根据不同的规格加载不同的价格
	 * @param id 商品id
	 * @param gsp gspid
	 */
	function goods_spec_set(id,gsp) {
		var load = true;
		if (load) {
			$.post("/load_goods_gsp.htm", {"id":id, "gsp": gsp},function (data) {
				var res =JSON.parse(data);
				var  goods_inventory = res.count;
				var  store_price = res.price;
				var groupBuy = $("#groupBuy").val();
				if(groupBuy == '2'){
					$("#gg_price").text(store_price);
				}else{
					$("#store_price").text(store_price);
				}
				$("#inventory").text(goods_inventory);

			});
		}
	}

	jQuery("#add_favorite").click(function () {
		var storeId=jQuery("#store_id").val();
		var user_store_id=jQuery("#user_store_id").val();
		if (storeId==user_store_id )
			alert("不能收藏自己的商品");
		else {
			var goodsId=jQuery("#goodsId").val();
			var goodscollect=jQuery("#goodscollect").text();
			jQuery.post("/add_goods_favorite.htm", {"id": goodsId}, function (data) {
				if (data == 0) {
					alert("商品收藏成功！");
					jQuery("#goodscollect").text(parseInt(goodscollect)+parseInt(1));
				}
				if (data == 1) {
					alert("已经收藏过该商品！");
				}
			}, "text");
		}
	});


	/**
	 * 添加到购物车
	 * @param id
	 * @param count
	 * @param price
	 * @param gsp
	 * @param flag
	 */
	function add_goods_to_cart(id,count,price,gsp,flag){
		console.log('gsp',gsp);
		var type='';
		var groupBuy = $("#gropBuy").val();
		if(groupBuy == '2'){
			price= $("#gg_price").text();
		}
		var combinStatus = $("#combinStatus").val();
		if(combinStatus == '2'){
			type='combin';
		}
		jQuery.post("/addGoodsCart", {
			"id": id,
			"count": count,
			"price": price,
			"gsp": gsp,
			'buy_type': type
		}, function (res) {
			//验证成功跳转购物车
			console.log(res);
			if(res.code == '200'){
				if(flag){
					window.location.href = "/goods_cart1.htm";
				}else{
					var num=$("#cart_unm").text();
					$("#cart_unm").text(parseInt(num)+1);
					alert('添加到购物车成功');
				}
			}else{
				alert(res.msg);
			}

		});
	}



	$("#sub_count").click(function(){
		var count = parseInt($("#count").val());
		if(count >1){
			count--;
			$("#count").val(count)
		}
	});

	$("#add_count").click(function(){
		var count = parseInt($("#count").val());
		var inventory = parseInt($("#inventory").val())
		if(count < inventory){
			count++;
			$("#count").val(count)
			console.info("----add_count-----",count);
		}else{
			alert("商品数量已超过库存");
		}
	});


	new Swiper('.swiper1', {
		autoplay: 5000,
		pagination: {
			el: '.swiper-pagination',
		},
		loop: true
	})

	new Swiper('.swiper2', {
		autoplay: 5000,
		pagination: {
			el: '.swiper-pagination',
		},
		slidesPerView : 3,
		centeredSlides : true,
		centeredSlidesBounds: true,
		spaceBetween : 10,
		loop: true
	});
	$(".bottom_btn").click(function(){
		$(".ui-shade").css("display","block");
		$(".ui-modal").addClass("shadeshow");
	})
	$(".ui-modal").click(function(){
		event.stopPropagation();
	})
	$(".ui-shade,.modal_close").click(function(){
		$(".ui-shade").css("display","none")
	})
	let specarr = [];
	$(".sepc_cont div").click(function() {
		$(this).addClass("sepc_act").siblings().removeClass("sepc_act");
		$(this).parents(".spec_line").find(".spec_tit span").text($(this).text());
		let sepcindex = $(this).parents(".spec_line").index();
		specarr[sepcindex] = $(this).text();
		$(".shose_spec span").text(specarr.join("，"));
		var id= $(this).attr('data-id');
		var gsp =$(this).attr('gsp');
		goods_spec_set(id,gsp);
	})

</script>
</html>
