<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>个人中心</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="/asset/css/framework.css" />
		<link rel="stylesheet" type="text/css" href="/asset/css/my.css"/>
		<script src="/asset/js/jquery-3.3.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/asset/js/changePX.js" type="text/javascript" charset="utf-8"></script>
		<script src="/asset/js/main.js" type="text/javascript" charset="utf-8"></script>
		<script src="/asset/css/font.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div class="ui-pane">
			<div class="ui-content">
				<div class="content">
					<div class="topnav">
						<div class="navtb">
							<a href="/buyer/account.htm">
							<svg class="icon icon_topnav" aria-hidden="true">
								<use xlink:href="#icon-shezhi"></use>
							</svg>
							</a>
						</div>
						<div class="navname">
							<a href="/buyer/account_avatar.htm">
							<img class="navimg" th:if="${user.photo}" th:src="@{'/'+${user.photo.path}+'/'+${user.photo.name}}"/>
							<img class="navimg" th:unless="${user.photo}" src="/asset/img/touxing1.png"/>
							</a>
							<strong th:if="${user!=null}" th:text="${user.username}"></strong>
							<div th:if="${user==null}" class="logonbt">登录 ></div>
						</div>
						<div class="new1">
							<div>
								<div th:text="${coupons}">1</div>
								<div class="new_text">优惠券</div>
							</div>
							<div>
								<div>0</div>
								<div class="new_text">余额</div>
							</div>
							<div>
								<div>1</div>
								<div class="new_text">礼品卡</div>
							</div>
							<div>
								<div>0</div>
								<div class="new_text">累计总额</div>
							</div>
						</div>

					</div>
					<div class="order">
						<div class="text_title">
							<div class="text_title_row">
								<div></div>
								<span>
									我的订单
								</span>
							</div>
							<div class="text_titlebt">
								<a href="/buyer/order.htm">所有订单 ></a>
							</div>
						</div>
						<div class="order_text">
							<div>
								<a  href="/buyer/order.htm?order_status=order_submit">
									<svg class="icon icon_order" aria-hidden="true">
										<use xlink:href="#icon-qianbao"></use>
									</svg>
									<div class="order_bttext">
										待支付
									</div>
									<div class="orderbq" th:text="${waitingPay}"></div>
								</a>

							</div>
							<div>
								<a href="/buyer/order.htm?order_status=order_pay">
									<svg class="icon icon_order" aria-hidden="true">
										<use xlink:href="#icon-daifahuo"></use>
									</svg>
									<div class="order_bttext">
										待发货
									</div>
									<div class="orderbq" th:text="${waitingSend}"></div>
								</a>
							</div>
							<div>
								<a  href="/buyer/order.htm?order_status=order_receive">
									<svg class="icon icon_order" aria-hidden="true">
										<use xlink:href="#icon-gerenzhongxindingdandaishouhuo"></use>
									</svg>
									<div class="order_bttext">
										待收货
									</div>
									<div class="orderbq" th:text="${waitingDeli}"></div>
								</a>
							</div>
							<div>
								<a  href="/buyer/order.htm?order_status=order_finish">
									<svg class="icon icon_order" aria-hidden="true">
										<use xlink:href="#icon-xiaoxi1"></use>
									</svg>
									<div class="order_bttext">
										待评价
									</div>
									<div class="orderbq" th:text="${waitingEval}">1</div>
								</a>
							</div>
						</div>
					</div>
					<div class="serve" >
						<div class="text_title">
							<div class="text_title_row"><div></div><span>我的订单</span></div>
							<div class="text_titlebt"></div>
						</div>
						<div class="order_text">
							<div>
								<svg class="icon icon_order" aria-hidden="true">
									<use xlink:href="#icon-shoucang"></use>
								</svg>
								<div class="order_bttext" >
									<a href="/buyer/favorite_goods.htm">我的收藏</a>

								</div>
							</div>
							<div>
								<svg class="icon icon_order" aria-hidden="true">
									<use xlink:href="#icon-dizhi"></use>
								</svg>
								<div class="order_bttext">
									<a href="/buyer/address.htm">我的地址</a>
								</div>
							</div>
							<div>
								<svg class="icon icon_order" aria-hidden="true">
									<use xlink:href="#icon-liulan"></use>
								</svg>
								<div class="order_bttext">
									<a href="#">浏览历史</a>
								</div>
							</div>
							<div>
								<svg class="icon icon_order" aria-hidden="true">
									<use xlink:href="#icon-bangzhu"></use>
								</svg>
								<div class="order_bttext">
									<a href="">帮助中心</a>
								</div>
							</div>
						</div>
					</div>
						</div>
					</div>
				</div>
			</div>
			<div class="Nav"></div>
		</div>
	</body>
	<script type="text/javascript">
	</script>
</html>
