<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
	<head>
		<meta charset="UTF-8">
		<title th:text="#{messages.order.detail}"></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="/asset/css/framework.css" />
		<link rel="stylesheet" type="text/css" href="/asset/css/order1.css"/>
		<script src="/asset/js/jquery-3.3.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/asset/js/changePX.js" type="text/javascript" charset="utf-8"></script>
		<script src="/asset/js/main.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div class="ui-pane">
			<div class="ui-header">
				<a href="" class="header-button">
					<svg class="icon" aria-hidden="true">
						<use xlink:href="#icon-left"></use>
					</svg>
				</a>
				<div class="header-title" th:text="#{messages.order.detail}"></div>
			</div>
			<div class="ui-content">
				<div class="container">
					<div class="order">
						<div>
							<span th:text="#{messages.order.orderNo}+':'"></span>
							<span class="identifier" th:text="${obj.orderId}"></span>
						</div>
						<div>
							<span th:text="#{messages.order.time}+':'"></span>
							<span class="timer" th:text="${#dates.format(obj.addtime,'yyyy-MM-dd HH:mm:ss')}">2020-9-14 11:49:00</span>
						</div>
						<div>
							<span th:text="#{messages.order.status}"></span>
							<span  th:switch="${obj.orderStatus}">
								<span class="state" th:case=" 0" th:text="#{messages.order.cancel}"></span>
								<span class="state" th:case="10" th:text="#{messages.waiting.pay}"></span>
								<span class="state" th:case="15" th:text="#{messages.order.audit}"></span>
								<span class="state" th:case="16" th:text="#{messages.order.status1}"></span>
								<span class="state" th:case="20" th:text="#{messages.waiting.ship}"></span>
								<span class="state" th:case="30" th:text="#{messages.waiting.delivery}"></span>
								<span class="state" th:case="40" th:text="#{messages.order.status4}"></span>
								<span class="state" th:case="45" th:text="#{messages.order.status5}"></span>
								<span class="state"  th:case="46" th:text="#{messages.order.status6}"></span>
								<span class="state" th:case="47" th:text="#{messages.order.status7}"></span>
								<span class="state" th:case="48" th:text="#{messages.order.status8}"></span>
								<span class="state" th:case="49" th:text="#{messages.order.status9}"></span>
								<span class="state" th:case="50" th:text="#{messages.order.status10}"></span>
								<span class="state" th:case="60" th:text="#{messages.order.status11}"></span>
								<span class="state" th:case="50" th:text="#{messages.order.status12}"></span>
							</span>
						</div>
					</div>
					<div class="text_title texttop1" th:text="#{messages.delivery.info}"></div>
					<div class="takeover-content">
						<div>
							<span class="sh11" th:text="#{messages.shipping.person}+':'"></span>
							<span class="identifier" th:text="${obj.addr.truename}"></span>
						</div>
						<div>
							<span  class="sh11" th:text="#{messages.contact.way}+'：'"></span>
							<span class="timer" th:text="${obj.addr.telephone}"></span>
						</div>
						<div>
							<span  class="sh11" th:text="#{messages.shipping.address} +'：'"></span>
							<span class="state" th:text="${obj.addr.countries+obj.addr.city+obj.addr.areaInfo}"></span>
						</div>
					</div>
					<div class="spnew">
						<div class="text_title" th:text="#{messages.goods.info}"></div>
						<div class="spnew_text" th:each="gc : ${obj.gcs}">
							<a th:href="@{/goods.htm(id=${gc.goods.id})}" target="_blank">
								<img class="spnew_text_img" th:if="${gc.goods.goods_main_photo}" th:src="@{${'/'+gc.goods.goods_main_photo.path+'/'+gc.goods.goods_main_photo.name}}" width="62" height="62" />
								<img class="spnew_text_img" th:unless="${gc.goods.goods_main_photo}" th:src="@{${'/'+config.goodsImage.path+'/'+config.goodsImage.name}}" width="62" height="62" />
							</a>
							<div class="text">
								<div class="text_row">
									<div><a th:href="@{/goods.htm(id=${gc.goods.id})}" target="_blank" th:text="${gc.goods.goodsName}"></a></div>
									<span class="spec_box" th:text="${gc.specInfo}"></span>
									<div class="text_row_pay" th:text="${'$'+gc.goods.storePrice}"></div>
								</div>
								<div class="textnumber">x<span th:text="${gc.count}"></span> </div>
							</div>
						</div>
					</div>
					<div class="zfpay">
						<div class="text_title" th:text="#{messages.pay.content}"></div>
						<div class="zfpay_text">
							<div class="zfpay_row zfpay_row1">
								<div th:text="#{messages.pay.method}+'：'"></div>
								<div >paypal支付</div>
							</div>
							<div class="zfpay_row">
								<div th:text="#{messages.selected.goodsprice}+'：'"></div>
								<div><span th:text="${obj.totalprice}"></span> <span class="fontd">USD</span></div>
							</div>
							<div class="zfpay_row">
								<div th:text="#{messages.ship.fee}"></div>
								<div>+￥0</div>
							</div>
							<div class="zfpay_row">
								<div th:text="#{messages.service.fee}"></div>
								<div>+￥0</div>
							</div>
							<div class="zfpay_row color1">
								<div></div>
								<div>
									<span th:text="#{messages.payment.real}"></span>
									<span th:text="${obj.totalprice}"></span>
									<span class="fontd">USD</span></div>
							</div>
						</div>
					</div>
					<div class="text_title texttop1" th:text="#{messages.physical.info}"></div>
					<div class="logistics-content">
						<div>
							<span th:text="#{messages.physical.orderno}"></span>
							<span class="identifier" th:text="${obj.shipcode}"></span>
						</div>
						<div>
							<span th:text="#{messages.physical.company}"></span>
							<span class="identifier" th:if="${obj.ec}" th:text="${obj.ec.companyName}"></span>
						</div>
					</div>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script type="text/javascript">
	</script>
</html>
