<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>注册</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="/asset/css/framework.css" />
		<link rel="stylesheet" type="text/css" href="/asset/css/logon.css" />
		<script src="/asset/js/jquery-3.3.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/asset/js/changePX.js" type="text/javascript" charset="utf-8"></script>
		<script src="/asset/js/main.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div class="ui-pane">
			<div class="ui-content">

				<div class="content">
					<div class="logozong">
						<img class="logo" src="asset/img/logo1.png">
					</div>
					<div class="text_title">
						<div>
							<a class="textlink" href="/user/login.htm">LOG IN</a>
						</div>
						<div>
							<a class="textlink textborder" href="#">SIGN UP</a>
						</div>
					</div>

					<form th:action="@{/register_finish.htm}" method="post" name="theForm" id="theForm">
					<div class="text textname">
						<input class="text_input" type="text" name="email" placeholder="EMAIL  ADDRESS" />
					</div>
						<span class="menu_null" style="color:#991726;"></span>
						<script>
							jQuery("input[name='email']").blur(function(){
								var email=jQuery(this).val();
								jQuery.post('/verify_email.htm',{'email': email},function(res){
									if(res === 'false'){
										jQuery(".menu_null").text('Email已存在');

										var count=5;
										window.setInterval(go,1000);
										function go(){
											count--;
											if(count==0){
												jQuery(".menu_null").text('');

											}
										}
									}
								});
							});


						</script>
					<div class="text">
						<input class="text_input" type="password" name="password" placeholder="PASSWORD" />
					</div>
					<div class="xz">
						<input type="checkbox" name="" id="" value="" />
						<div>I'd like to receive exclusive offers and news by Email or SMS</div>
					</div>
					<input class="content_bt" type="submit" value="SIGN UP" />
					<div class="text_bototm">
						<div class="text_dian"></div>
						<div class="text_bototm_row">Or Join With</div>
						<div class="text_dian"></div>
					</div>
					<div class="dbtp">
						<img src="asset/img/book.png" >
						<img src="asset/img/go.png" >
					</div>
					</form>
				</div>


			</div>
		</div>
	</body>
	<script type="text/javascript">
	</script>
</html>
