<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xdj.interfaces.mallinterface.mapper.ShoppingPaymentMapper">
  <resultMap id="BaseResultMap" type="com.xdj.www.entity.ShoppingPayment">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="addTime" jdbcType="TIMESTAMP" property="addtime" />
    <result column="deleteStatus" jdbcType="BIT" property="deletestatus" />
    <result column="chinabank_account" jdbcType="VARCHAR" property="chinabankAccount" />
    <result column="chinabank_key" jdbcType="VARCHAR" property="chinabankKey" />
    <result column="install" jdbcType="BIT" property="install" />
    <result column="interfaceType" jdbcType="INTEGER" property="interfacetype" />
    <result column="mark" jdbcType="VARCHAR" property="mark" />
    <result column="merchantAcctId" jdbcType="VARCHAR" property="merchantacctid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="partner" jdbcType="VARCHAR" property="partner" />
    <result column="pid" jdbcType="VARCHAR" property="pid" />
    <result column="rmbKey" jdbcType="VARCHAR" property="rmbkey" />
    <result column="safeKey" jdbcType="VARCHAR" property="safekey" />
    <result column="seller_email" jdbcType="VARCHAR" property="sellerEmail" />
    <result column="spname" jdbcType="VARCHAR" property="spname" />
    <result column="tenpay_key" jdbcType="VARCHAR" property="tenpayKey" />
    <result column="tenpay_partner" jdbcType="VARCHAR" property="tenpayPartner" />
    <result column="trade_mode" jdbcType="INTEGER" property="tradeMode" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="store_id" jdbcType="BIGINT" property="storeId" />
    <result column="alipay_divide_rate" jdbcType="DECIMAL" property="alipayDivideRate" />
    <result column="alipay_rate" jdbcType="DECIMAL" property="alipayRate" />
    <result column="balance_divide_rate" jdbcType="DECIMAL" property="balanceDivideRate" />
    <result column="currency_code" jdbcType="VARCHAR" property="currencyCode" />
    <result column="paypal_userId" jdbcType="VARCHAR" property="paypalUserid" />
    <result column="poundage" jdbcType="DECIMAL" property="poundage" />
    <result column="lzbank_key" jdbcType="VARCHAR" property="lzbankKey" />
    <result column="lzbank_partner" jdbcType="VARCHAR" property="lzbankPartner" />
    <result column="lzbank_trade_mode" jdbcType="VARCHAR" property="lzbankTradeMode" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.xdj.www.entity.ShoppingPaymentWithBLOBs">
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
    <result column="weixin_appId" jdbcType="LONGVARCHAR" property="weixinAppid" />
    <result column="weixin_appSecret" jdbcType="LONGVARCHAR" property="weixinAppsecret" />
    <result column="weixin_partnerId" jdbcType="LONGVARCHAR" property="weixinPartnerid" />
    <result column="weixin_partnerKey" jdbcType="LONGVARCHAR" property="weixinPartnerkey" />
    <result column="weixin_paySignKey" jdbcType="LONGVARCHAR" property="weixinPaysignkey" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, addTime, deleteStatus, chinabank_account, chinabank_key, install, interfaceType,
    mark, merchantAcctId, name, partner, pid, rmbKey, safeKey, seller_email, spname,
    tenpay_key, tenpay_partner, trade_mode, type, store_id, alipay_divide_rate, alipay_rate,
    balance_divide_rate, currency_code, paypal_userId, poundage, lzbank_key, lzbank_partner,
    lzbank_trade_mode
  </sql>
  <sql id="Blob_Column_List">
    content, weixin_appId, weixin_appSecret, weixin_partnerId, weixin_partnerKey, weixin_paySignKey
  </sql>

  <select id="queryByCondition" resultMap="ResultMapWithBLOBs">
    select *  from shopping_payment
    <where>
      1=1
      <if test="mark != null "> and mark =#{mark}</if>
      <if test="mark1 != null "> and mark !=#{mark1}</if>
      <if test="mark2 != null "> and mark !=#{mark2}</if>
      <if test="install != null "> and install =#{install}</if>
      <if test="type != null "> and type=#{type}</if>
      <if test="store_id != null "> and store_id= #{store_id}</if>
      <if test="orderBy != null and sort != null "> order by ${orderBy} ${sort}</if>
      <if test="start != null and pageSize != null"> limit #{start},#{pageSize}</if>
    </where>
  </select>

  <select id="selectByExampleWithBLOBs" parameterType="com.xdj.www.entity.ShoppingPaymentExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from shopping_payment
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.xdj.www.entity.ShoppingPaymentExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from shopping_payment
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from shopping_payment
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from shopping_payment
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.xdj.www.entity.ShoppingPaymentExample">
    delete from shopping_payment
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xdj.www.entity.ShoppingPaymentWithBLOBs">
    insert into shopping_payment (id, addTime, deleteStatus,
      chinabank_account, chinabank_key, install,
      interfaceType, mark, merchantAcctId,
      name, partner, pid,
      rmbKey, safeKey, seller_email,
      spname, tenpay_key, tenpay_partner,
      trade_mode, type, store_id,
      alipay_divide_rate, alipay_rate, balance_divide_rate,
      currency_code, paypal_userId, poundage,
      lzbank_key, lzbank_partner, lzbank_trade_mode,
      content, weixin_appId, weixin_appSecret,
      weixin_partnerId, weixin_partnerKey,
      weixin_paySignKey)
    values (#{id,jdbcType=BIGINT}, #{addtime,jdbcType=TIMESTAMP}, #{deletestatus,jdbcType=BIT},
      #{chinabankAccount,jdbcType=VARCHAR}, #{chinabankKey,jdbcType=VARCHAR}, #{install,jdbcType=BIT},
      #{interfacetype,jdbcType=INTEGER}, #{mark,jdbcType=VARCHAR}, #{merchantacctid,jdbcType=VARCHAR},
      #{name,jdbcType=VARCHAR}, #{partner,jdbcType=VARCHAR}, #{pid,jdbcType=VARCHAR},
      #{rmbkey,jdbcType=VARCHAR}, #{safekey,jdbcType=VARCHAR}, #{sellerEmail,jdbcType=VARCHAR},
      #{spname,jdbcType=VARCHAR}, #{tenpayKey,jdbcType=VARCHAR}, #{tenpayPartner,jdbcType=VARCHAR},
      #{tradeMode,jdbcType=INTEGER}, #{type,jdbcType=VARCHAR}, #{storeId,jdbcType=BIGINT},
      #{alipayDivideRate,jdbcType=DECIMAL}, #{alipayRate,jdbcType=DECIMAL}, #{balanceDivideRate,jdbcType=DECIMAL},
      #{currencyCode,jdbcType=VARCHAR}, #{paypalUserid,jdbcType=VARCHAR}, #{poundage,jdbcType=DECIMAL},
      #{lzbankKey,jdbcType=VARCHAR}, #{lzbankPartner,jdbcType=VARCHAR}, #{lzbankTradeMode,jdbcType=VARCHAR},
      #{content,jdbcType=LONGVARCHAR}, #{weixinAppid,jdbcType=LONGVARCHAR}, #{weixinAppsecret,jdbcType=LONGVARCHAR},
      #{weixinPartnerid,jdbcType=LONGVARCHAR}, #{weixinPartnerkey,jdbcType=LONGVARCHAR},
      #{weixinPaysignkey,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xdj.www.entity.ShoppingPaymentWithBLOBs">
    insert into shopping_payment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="addtime != null">
        addTime,
      </if>
      <if test="deletestatus != null">
        deleteStatus,
      </if>
      <if test="chinabankAccount != null">
        chinabank_account,
      </if>
      <if test="chinabankKey != null">
        chinabank_key,
      </if>
      <if test="install != null">
        install,
      </if>
      <if test="interfacetype != null">
        interfaceType,
      </if>
      <if test="mark != null">
        mark,
      </if>
      <if test="merchantacctid != null">
        merchantAcctId,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="partner != null">
        partner,
      </if>
      <if test="pid != null">
        pid,
      </if>
      <if test="rmbkey != null">
        rmbKey,
      </if>
      <if test="safekey != null">
        safeKey,
      </if>
      <if test="sellerEmail != null">
        seller_email,
      </if>
      <if test="spname != null">
        spname,
      </if>
      <if test="tenpayKey != null">
        tenpay_key,
      </if>
      <if test="tenpayPartner != null">
        tenpay_partner,
      </if>
      <if test="tradeMode != null">
        trade_mode,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="storeId != null">
        store_id,
      </if>
      <if test="alipayDivideRate != null">
        alipay_divide_rate,
      </if>
      <if test="alipayRate != null">
        alipay_rate,
      </if>
      <if test="balanceDivideRate != null">
        balance_divide_rate,
      </if>
      <if test="currencyCode != null">
        currency_code,
      </if>
      <if test="paypalUserid != null">
        paypal_userId,
      </if>
      <if test="poundage != null">
        poundage,
      </if>
      <if test="lzbankKey != null">
        lzbank_key,
      </if>
      <if test="lzbankPartner != null">
        lzbank_partner,
      </if>
      <if test="lzbankTradeMode != null">
        lzbank_trade_mode,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="weixinAppid != null">
        weixin_appId,
      </if>
      <if test="weixinAppsecret != null">
        weixin_appSecret,
      </if>
      <if test="weixinPartnerid != null">
        weixin_partnerId,
      </if>
      <if test="weixinPartnerkey != null">
        weixin_partnerKey,
      </if>
      <if test="weixinPaysignkey != null">
        weixin_paySignKey,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="addtime != null">
        #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="deletestatus != null">
        #{deletestatus,jdbcType=BIT},
      </if>
      <if test="chinabankAccount != null">
        #{chinabankAccount,jdbcType=VARCHAR},
      </if>
      <if test="chinabankKey != null">
        #{chinabankKey,jdbcType=VARCHAR},
      </if>
      <if test="install != null">
        #{install,jdbcType=BIT},
      </if>
      <if test="interfacetype != null">
        #{interfacetype,jdbcType=INTEGER},
      </if>
      <if test="mark != null">
        #{mark,jdbcType=VARCHAR},
      </if>
      <if test="merchantacctid != null">
        #{merchantacctid,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="partner != null">
        #{partner,jdbcType=VARCHAR},
      </if>
      <if test="pid != null">
        #{pid,jdbcType=VARCHAR},
      </if>
      <if test="rmbkey != null">
        #{rmbkey,jdbcType=VARCHAR},
      </if>
      <if test="safekey != null">
        #{safekey,jdbcType=VARCHAR},
      </if>
      <if test="sellerEmail != null">
        #{sellerEmail,jdbcType=VARCHAR},
      </if>
      <if test="spname != null">
        #{spname,jdbcType=VARCHAR},
      </if>
      <if test="tenpayKey != null">
        #{tenpayKey,jdbcType=VARCHAR},
      </if>
      <if test="tenpayPartner != null">
        #{tenpayPartner,jdbcType=VARCHAR},
      </if>
      <if test="tradeMode != null">
        #{tradeMode,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="storeId != null">
        #{storeId,jdbcType=BIGINT},
      </if>
      <if test="alipayDivideRate != null">
        #{alipayDivideRate,jdbcType=DECIMAL},
      </if>
      <if test="alipayRate != null">
        #{alipayRate,jdbcType=DECIMAL},
      </if>
      <if test="balanceDivideRate != null">
        #{balanceDivideRate,jdbcType=DECIMAL},
      </if>
      <if test="currencyCode != null">
        #{currencyCode,jdbcType=VARCHAR},
      </if>
      <if test="paypalUserid != null">
        #{paypalUserid,jdbcType=VARCHAR},
      </if>
      <if test="poundage != null">
        #{poundage,jdbcType=DECIMAL},
      </if>
      <if test="lzbankKey != null">
        #{lzbankKey,jdbcType=VARCHAR},
      </if>
      <if test="lzbankPartner != null">
        #{lzbankPartner,jdbcType=VARCHAR},
      </if>
      <if test="lzbankTradeMode != null">
        #{lzbankTradeMode,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=LONGVARCHAR},
      </if>
      <if test="weixinAppid != null">
        #{weixinAppid,jdbcType=LONGVARCHAR},
      </if>
      <if test="weixinAppsecret != null">
        #{weixinAppsecret,jdbcType=LONGVARCHAR},
      </if>
      <if test="weixinPartnerid != null">
        #{weixinPartnerid,jdbcType=LONGVARCHAR},
      </if>
      <if test="weixinPartnerkey != null">
        #{weixinPartnerkey,jdbcType=LONGVARCHAR},
      </if>
      <if test="weixinPaysignkey != null">
        #{weixinPaysignkey,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xdj.www.entity.ShoppingPaymentExample" resultType="java.lang.Long">
    select count(*) from shopping_payment
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update shopping_payment
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.addtime != null">
        addTime = #{record.addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.deletestatus != null">
        deleteStatus = #{record.deletestatus,jdbcType=BIT},
      </if>
      <if test="record.chinabankAccount != null">
        chinabank_account = #{record.chinabankAccount,jdbcType=VARCHAR},
      </if>
      <if test="record.chinabankKey != null">
        chinabank_key = #{record.chinabankKey,jdbcType=VARCHAR},
      </if>
      <if test="record.install != null">
        install = #{record.install,jdbcType=BIT},
      </if>
      <if test="record.interfacetype != null">
        interfaceType = #{record.interfacetype,jdbcType=INTEGER},
      </if>
      <if test="record.mark != null">
        mark = #{record.mark,jdbcType=VARCHAR},
      </if>
      <if test="record.merchantacctid != null">
        merchantAcctId = #{record.merchantacctid,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.partner != null">
        partner = #{record.partner,jdbcType=VARCHAR},
      </if>
      <if test="record.pid != null">
        pid = #{record.pid,jdbcType=VARCHAR},
      </if>
      <if test="record.rmbkey != null">
        rmbKey = #{record.rmbkey,jdbcType=VARCHAR},
      </if>
      <if test="record.safekey != null">
        safeKey = #{record.safekey,jdbcType=VARCHAR},
      </if>
      <if test="record.sellerEmail != null">
        seller_email = #{record.sellerEmail,jdbcType=VARCHAR},
      </if>
      <if test="record.spname != null">
        spname = #{record.spname,jdbcType=VARCHAR},
      </if>
      <if test="record.tenpayKey != null">
        tenpay_key = #{record.tenpayKey,jdbcType=VARCHAR},
      </if>
      <if test="record.tenpayPartner != null">
        tenpay_partner = #{record.tenpayPartner,jdbcType=VARCHAR},
      </if>
      <if test="record.tradeMode != null">
        trade_mode = #{record.tradeMode,jdbcType=INTEGER},
      </if>
      <if test="record.type != null">
        type = #{record.type,jdbcType=VARCHAR},
      </if>
      <if test="record.storeId != null">
        store_id = #{record.storeId,jdbcType=BIGINT},
      </if>
      <if test="record.alipayDivideRate != null">
        alipay_divide_rate = #{record.alipayDivideRate,jdbcType=DECIMAL},
      </if>
      <if test="record.alipayRate != null">
        alipay_rate = #{record.alipayRate,jdbcType=DECIMAL},
      </if>
      <if test="record.balanceDivideRate != null">
        balance_divide_rate = #{record.balanceDivideRate,jdbcType=DECIMAL},
      </if>
      <if test="record.currencyCode != null">
        currency_code = #{record.currencyCode,jdbcType=VARCHAR},
      </if>
      <if test="record.paypalUserid != null">
        paypal_userId = #{record.paypalUserid,jdbcType=VARCHAR},
      </if>
      <if test="record.poundage != null">
        poundage = #{record.poundage,jdbcType=DECIMAL},
      </if>
      <if test="record.lzbankKey != null">
        lzbank_key = #{record.lzbankKey,jdbcType=VARCHAR},
      </if>
      <if test="record.lzbankPartner != null">
        lzbank_partner = #{record.lzbankPartner,jdbcType=VARCHAR},
      </if>
      <if test="record.lzbankTradeMode != null">
        lzbank_trade_mode = #{record.lzbankTradeMode,jdbcType=VARCHAR},
      </if>
      <if test="record.content != null">
        content = #{record.content,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.weixinAppid != null">
        weixin_appId = #{record.weixinAppid,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.weixinAppsecret != null">
        weixin_appSecret = #{record.weixinAppsecret,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.weixinPartnerid != null">
        weixin_partnerId = #{record.weixinPartnerid,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.weixinPartnerkey != null">
        weixin_partnerKey = #{record.weixinPartnerkey,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.weixinPaysignkey != null">
        weixin_paySignKey = #{record.weixinPaysignkey,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update shopping_payment
    set id = #{record.id,jdbcType=BIGINT},
      addTime = #{record.addtime,jdbcType=TIMESTAMP},
      deleteStatus = #{record.deletestatus,jdbcType=BIT},
      chinabank_account = #{record.chinabankAccount,jdbcType=VARCHAR},
      chinabank_key = #{record.chinabankKey,jdbcType=VARCHAR},
      install = #{record.install,jdbcType=BIT},
      interfaceType = #{record.interfacetype,jdbcType=INTEGER},
      mark = #{record.mark,jdbcType=VARCHAR},
      merchantAcctId = #{record.merchantacctid,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      partner = #{record.partner,jdbcType=VARCHAR},
      pid = #{record.pid,jdbcType=VARCHAR},
      rmbKey = #{record.rmbkey,jdbcType=VARCHAR},
      safeKey = #{record.safekey,jdbcType=VARCHAR},
      seller_email = #{record.sellerEmail,jdbcType=VARCHAR},
      spname = #{record.spname,jdbcType=VARCHAR},
      tenpay_key = #{record.tenpayKey,jdbcType=VARCHAR},
      tenpay_partner = #{record.tenpayPartner,jdbcType=VARCHAR},
      trade_mode = #{record.tradeMode,jdbcType=INTEGER},
      type = #{record.type,jdbcType=VARCHAR},
      store_id = #{record.storeId,jdbcType=BIGINT},
      alipay_divide_rate = #{record.alipayDivideRate,jdbcType=DECIMAL},
      alipay_rate = #{record.alipayRate,jdbcType=DECIMAL},
      balance_divide_rate = #{record.balanceDivideRate,jdbcType=DECIMAL},
      currency_code = #{record.currencyCode,jdbcType=VARCHAR},
      paypal_userId = #{record.paypalUserid,jdbcType=VARCHAR},
      poundage = #{record.poundage,jdbcType=DECIMAL},
      lzbank_key = #{record.lzbankKey,jdbcType=VARCHAR},
      lzbank_partner = #{record.lzbankPartner,jdbcType=VARCHAR},
      lzbank_trade_mode = #{record.lzbankTradeMode,jdbcType=VARCHAR},
      content = #{record.content,jdbcType=LONGVARCHAR},
      weixin_appId = #{record.weixinAppid,jdbcType=LONGVARCHAR},
      weixin_appSecret = #{record.weixinAppsecret,jdbcType=LONGVARCHAR},
      weixin_partnerId = #{record.weixinPartnerid,jdbcType=LONGVARCHAR},
      weixin_partnerKey = #{record.weixinPartnerkey,jdbcType=LONGVARCHAR},
      weixin_paySignKey = #{record.weixinPaysignkey,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update shopping_payment
    set id = #{record.id,jdbcType=BIGINT},
      addTime = #{record.addtime,jdbcType=TIMESTAMP},
      deleteStatus = #{record.deletestatus,jdbcType=BIT},
      chinabank_account = #{record.chinabankAccount,jdbcType=VARCHAR},
      chinabank_key = #{record.chinabankKey,jdbcType=VARCHAR},
      install = #{record.install,jdbcType=BIT},
      interfaceType = #{record.interfacetype,jdbcType=INTEGER},
      mark = #{record.mark,jdbcType=VARCHAR},
      merchantAcctId = #{record.merchantacctid,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      partner = #{record.partner,jdbcType=VARCHAR},
      pid = #{record.pid,jdbcType=VARCHAR},
      rmbKey = #{record.rmbkey,jdbcType=VARCHAR},
      safeKey = #{record.safekey,jdbcType=VARCHAR},
      seller_email = #{record.sellerEmail,jdbcType=VARCHAR},
      spname = #{record.spname,jdbcType=VARCHAR},
      tenpay_key = #{record.tenpayKey,jdbcType=VARCHAR},
      tenpay_partner = #{record.tenpayPartner,jdbcType=VARCHAR},
      trade_mode = #{record.tradeMode,jdbcType=INTEGER},
      type = #{record.type,jdbcType=VARCHAR},
      store_id = #{record.storeId,jdbcType=BIGINT},
      alipay_divide_rate = #{record.alipayDivideRate,jdbcType=DECIMAL},
      alipay_rate = #{record.alipayRate,jdbcType=DECIMAL},
      balance_divide_rate = #{record.balanceDivideRate,jdbcType=DECIMAL},
      currency_code = #{record.currencyCode,jdbcType=VARCHAR},
      paypal_userId = #{record.paypalUserid,jdbcType=VARCHAR},
      poundage = #{record.poundage,jdbcType=DECIMAL},
      lzbank_key = #{record.lzbankKey,jdbcType=VARCHAR},
      lzbank_partner = #{record.lzbankPartner,jdbcType=VARCHAR},
      lzbank_trade_mode = #{record.lzbankTradeMode,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xdj.www.entity.ShoppingPaymentWithBLOBs">
    update shopping_payment
    <set>
      <if test="addtime != null">
        addTime = #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="deletestatus != null">
        deleteStatus = #{deletestatus,jdbcType=BIT},
      </if>
      <if test="chinabankAccount != null">
        chinabank_account = #{chinabankAccount,jdbcType=VARCHAR},
      </if>
      <if test="chinabankKey != null">
        chinabank_key = #{chinabankKey,jdbcType=VARCHAR},
      </if>
      <if test="install != null">
        install = #{install,jdbcType=BIT},
      </if>
      <if test="interfacetype != null">
        interfaceType = #{interfacetype,jdbcType=INTEGER},
      </if>
      <if test="mark != null">
        mark = #{mark,jdbcType=VARCHAR},
      </if>
      <if test="merchantacctid != null">
        merchantAcctId = #{merchantacctid,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="partner != null">
        partner = #{partner,jdbcType=VARCHAR},
      </if>
      <if test="pid != null">
        pid = #{pid,jdbcType=VARCHAR},
      </if>
      <if test="rmbkey != null">
        rmbKey = #{rmbkey,jdbcType=VARCHAR},
      </if>
      <if test="safekey != null">
        safeKey = #{safekey,jdbcType=VARCHAR},
      </if>
      <if test="sellerEmail != null">
        seller_email = #{sellerEmail,jdbcType=VARCHAR},
      </if>
      <if test="spname != null">
        spname = #{spname,jdbcType=VARCHAR},
      </if>
      <if test="tenpayKey != null">
        tenpay_key = #{tenpayKey,jdbcType=VARCHAR},
      </if>
      <if test="tenpayPartner != null">
        tenpay_partner = #{tenpayPartner,jdbcType=VARCHAR},
      </if>
      <if test="tradeMode != null">
        trade_mode = #{tradeMode,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="storeId != null">
        store_id = #{storeId,jdbcType=BIGINT},
      </if>
      <if test="alipayDivideRate != null">
        alipay_divide_rate = #{alipayDivideRate,jdbcType=DECIMAL},
      </if>
      <if test="alipayRate != null">
        alipay_rate = #{alipayRate,jdbcType=DECIMAL},
      </if>
      <if test="balanceDivideRate != null">
        balance_divide_rate = #{balanceDivideRate,jdbcType=DECIMAL},
      </if>
      <if test="currencyCode != null">
        currency_code = #{currencyCode,jdbcType=VARCHAR},
      </if>
      <if test="paypalUserid != null">
        paypal_userId = #{paypalUserid,jdbcType=VARCHAR},
      </if>
      <if test="poundage != null">
        poundage = #{poundage,jdbcType=DECIMAL},
      </if>
      <if test="lzbankKey != null">
        lzbank_key = #{lzbankKey,jdbcType=VARCHAR},
      </if>
      <if test="lzbankPartner != null">
        lzbank_partner = #{lzbankPartner,jdbcType=VARCHAR},
      </if>
      <if test="lzbankTradeMode != null">
        lzbank_trade_mode = #{lzbankTradeMode,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
      <if test="weixinAppid != null">
        weixin_appId = #{weixinAppid,jdbcType=LONGVARCHAR},
      </if>
      <if test="weixinAppsecret != null">
        weixin_appSecret = #{weixinAppsecret,jdbcType=LONGVARCHAR},
      </if>
      <if test="weixinPartnerid != null">
        weixin_partnerId = #{weixinPartnerid,jdbcType=LONGVARCHAR},
      </if>
      <if test="weixinPartnerkey != null">
        weixin_partnerKey = #{weixinPartnerkey,jdbcType=LONGVARCHAR},
      </if>
      <if test="weixinPaysignkey != null">
        weixin_paySignKey = #{weixinPaysignkey,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.xdj.www.entity.ShoppingPaymentWithBLOBs">
    update shopping_payment
    set addTime = #{addtime,jdbcType=TIMESTAMP},
      deleteStatus = #{deletestatus,jdbcType=BIT},
      chinabank_account = #{chinabankAccount,jdbcType=VARCHAR},
      chinabank_key = #{chinabankKey,jdbcType=VARCHAR},
      install = #{install,jdbcType=BIT},
      interfaceType = #{interfacetype,jdbcType=INTEGER},
      mark = #{mark,jdbcType=VARCHAR},
      merchantAcctId = #{merchantacctid,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      partner = #{partner,jdbcType=VARCHAR},
      pid = #{pid,jdbcType=VARCHAR},
      rmbKey = #{rmbkey,jdbcType=VARCHAR},
      safeKey = #{safekey,jdbcType=VARCHAR},
      seller_email = #{sellerEmail,jdbcType=VARCHAR},
      spname = #{spname,jdbcType=VARCHAR},
      tenpay_key = #{tenpayKey,jdbcType=VARCHAR},
      tenpay_partner = #{tenpayPartner,jdbcType=VARCHAR},
      trade_mode = #{tradeMode,jdbcType=INTEGER},
      type = #{type,jdbcType=VARCHAR},
      store_id = #{storeId,jdbcType=BIGINT},
      alipay_divide_rate = #{alipayDivideRate,jdbcType=DECIMAL},
      alipay_rate = #{alipayRate,jdbcType=DECIMAL},
      balance_divide_rate = #{balanceDivideRate,jdbcType=DECIMAL},
      currency_code = #{currencyCode,jdbcType=VARCHAR},
      paypal_userId = #{paypalUserid,jdbcType=VARCHAR},
      poundage = #{poundage,jdbcType=DECIMAL},
      lzbank_key = #{lzbankKey,jdbcType=VARCHAR},
      lzbank_partner = #{lzbankPartner,jdbcType=VARCHAR},
      lzbank_trade_mode = #{lzbankTradeMode,jdbcType=VARCHAR},
      content = #{content,jdbcType=LONGVARCHAR},
      weixin_appId = #{weixinAppid,jdbcType=LONGVARCHAR},
      weixin_appSecret = #{weixinAppsecret,jdbcType=LONGVARCHAR},
      weixin_partnerId = #{weixinPartnerid,jdbcType=LONGVARCHAR},
      weixin_partnerKey = #{weixinPartnerkey,jdbcType=LONGVARCHAR},
      weixin_paySignKey = #{weixinPaysignkey,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xdj.www.entity.ShoppingPayment">
    update shopping_payment
    set addTime = #{addtime,jdbcType=TIMESTAMP},
      deleteStatus = #{deletestatus,jdbcType=BIT},
      chinabank_account = #{chinabankAccount,jdbcType=VARCHAR},
      chinabank_key = #{chinabankKey,jdbcType=VARCHAR},
      install = #{install,jdbcType=BIT},
      interfaceType = #{interfacetype,jdbcType=INTEGER},
      mark = #{mark,jdbcType=VARCHAR},
      merchantAcctId = #{merchantacctid,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      partner = #{partner,jdbcType=VARCHAR},
      pid = #{pid,jdbcType=VARCHAR},
      rmbKey = #{rmbkey,jdbcType=VARCHAR},
      safeKey = #{safekey,jdbcType=VARCHAR},
      seller_email = #{sellerEmail,jdbcType=VARCHAR},
      spname = #{spname,jdbcType=VARCHAR},
      tenpay_key = #{tenpayKey,jdbcType=VARCHAR},
      tenpay_partner = #{tenpayPartner,jdbcType=VARCHAR},
      trade_mode = #{tradeMode,jdbcType=INTEGER},
      type = #{type,jdbcType=VARCHAR},
      store_id = #{storeId,jdbcType=BIGINT},
      alipay_divide_rate = #{alipayDivideRate,jdbcType=DECIMAL},
      alipay_rate = #{alipayRate,jdbcType=DECIMAL},
      balance_divide_rate = #{balanceDivideRate,jdbcType=DECIMAL},
      currency_code = #{currencyCode,jdbcType=VARCHAR},
      paypal_userId = #{paypalUserid,jdbcType=VARCHAR},
      poundage = #{poundage,jdbcType=DECIMAL},
      lzbank_key = #{lzbankKey,jdbcType=VARCHAR},
      lzbank_partner = #{lzbankPartner,jdbcType=VARCHAR},
      lzbank_trade_mode = #{lzbankTradeMode,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

</mapper>
