<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xdj.interfaces.mallinterface.mapper.ShoppingGoodscartMapper">
  <resultMap id="BaseResultMap" type="com.xdj.www.entity.ShoppingGoodscart">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="addTime" jdbcType="TIMESTAMP" property="addtime" />
    <result column="deleteStatus" jdbcType="BIT" property="deletestatus" />
    <result column="count" jdbcType="INTEGER" property="count" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="goods_id" jdbcType="BIGINT" property="goodsId" />
    <result column="of_id" jdbcType="BIGINT" property="ofId" />
    <result column="cart_type" jdbcType="VARCHAR" property="cartType" />
    <result column="sc_id" jdbcType="BIGINT" property="scId" />
    <association property="of"  javaType="com.xdj.www.entity.ShoppingOrderformWithBLOBs" select="com.xdj.interfaces.mallinterface.mapper.ShoppingOrderformMapper.selectByPrimaryKey" column="of_id">
    </association>
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.xdj.www.entity.ShoppingGoodscart">
    <result column="spec_info" jdbcType="LONGVARCHAR" property="specInfo" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>

  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>

  <sql id="Base_Column_List">
    id, addTime, deleteStatus, count, price, goods_id, of_id, cart_type, sc_id
  </sql>

  <sql id="Blob_Column_List">
    spec_info
  </sql>

  <select id="pageCount" resultType="java.lang.Integer">
    select count(*) from shopping_goodscart c
    left  join  shopping_orderform o on c.of_id = o.id
    <where>
      1=1
      <if test="order_status != null ">and o.order_status=#{order_status}</if>
      <if test="goods_id != null"> and goods_id =#{goods_id}</if>
    </where>
  </select>

  <select id="pageList" resultMap="ResultMapWithBLOBs">
    select c.* from shopping_goodscart c
    left  join  shopping_orderform o on c.of_id = o.id
    <where>
      1=1
      <if test="order_status != null ">and o.order_status=#{order_status}</if>
      <if test="goods_id != null"> and goods_id =#{goods_id}</if>
      <if test="orderBy != null and sort != null"> order by  #{orderBy} #{sort}</if>
      <if test="start != null and pageSize != null "> limit #{start} ,#{pageSize}</if>
    </where>
  </select>

  <select id="queryByCondition"  resultMap="ResultMapWithBLOBs">
    select * from shopping_goodscart
    <where>
      1=1
      <if test="sc_id != null"> and sc_id =#{sc_id}</if>
      <if test="goods_id != null">and goods_id=#{goods_id}</if>
      <if test="of_id != null"> and of_id=#{of_id}</if>
    </where>
  </select>

  <select id="selectByExampleWithBLOBs" parameterType="com.xdj.www.entity.ShoppingGoodscartExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from shopping_goodscart
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.xdj.www.entity.ShoppingGoodscartExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from shopping_goodscart
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from shopping_goodscart
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from shopping_goodscart
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.xdj.www.entity.ShoppingGoodscartExample">
    delete from shopping_goodscart
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xdj.www.entity.ShoppingGoodscart">
    insert into shopping_goodscart (id, addTime, deleteStatus,
      count, price, goods_id,
      of_id, cart_type, sc_id,
      spec_info)
    values (#{id,jdbcType=BIGINT}, #{addtime,jdbcType=TIMESTAMP}, #{deletestatus,jdbcType=BIT},
      #{count,jdbcType=INTEGER}, #{price,jdbcType=DECIMAL}, #{goodsId,jdbcType=BIGINT},
      #{ofId,jdbcType=BIGINT}, #{cartType,jdbcType=VARCHAR}, #{scId,jdbcType=BIGINT},
      #{specInfo,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xdj.www.entity.ShoppingGoodscart">
    insert into shopping_goodscart
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="addtime != null">
        addTime,
      </if>
      <if test="deletestatus != null">
        deleteStatus,
      </if>
      <if test="count != null">
        count,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="goodsId != null">
        goods_id,
      </if>
      <if test="ofId != null">
        of_id,
      </if>
      <if test="cartType != null">
        cart_type,
      </if>
      <if test="scId != null">
        sc_id,
      </if>
      <if test="specInfo != null">
        spec_info,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="addtime != null">
        #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="deletestatus != null">
        #{deletestatus,jdbcType=BIT},
      </if>
      <if test="count != null">
        #{count,jdbcType=INTEGER},
      </if>
      <if test="price != null">
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="goodsId != null">
        #{goodsId,jdbcType=BIGINT},
      </if>
      <if test="ofId != null">
        #{ofId,jdbcType=BIGINT},
      </if>
      <if test="cartType != null">
        #{cartType,jdbcType=VARCHAR},
      </if>
      <if test="scId != null">
        #{scId,jdbcType=BIGINT},
      </if>
      <if test="specInfo != null">
        #{specInfo,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xdj.www.entity.ShoppingGoodscartExample" resultType="java.lang.Long">
    select count(*) from shopping_goodscart
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update shopping_goodscart
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.addtime != null">
        addTime = #{record.addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.deletestatus != null">
        deleteStatus = #{record.deletestatus,jdbcType=BIT},
      </if>
      <if test="record.count != null">
        count = #{record.count,jdbcType=INTEGER},
      </if>
      <if test="record.price != null">
        price = #{record.price,jdbcType=DECIMAL},
      </if>
      <if test="record.goodsId != null">
        goods_id = #{record.goodsId,jdbcType=BIGINT},
      </if>
      <if test="record.ofId != null">
        of_id = #{record.ofId,jdbcType=BIGINT},
      </if>
      <if test="record.cartType != null">
        cart_type = #{record.cartType,jdbcType=VARCHAR},
      </if>
      <if test="record.scId != null">
        sc_id = #{record.scId,jdbcType=BIGINT},
      </if>
      <if test="record.specInfo != null">
        spec_info = #{record.specInfo,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update shopping_goodscart
    set id = #{record.id,jdbcType=BIGINT},
      addTime = #{record.addtime,jdbcType=TIMESTAMP},
      deleteStatus = #{record.deletestatus,jdbcType=BIT},
      count = #{record.count,jdbcType=INTEGER},
      price = #{record.price,jdbcType=DECIMAL},
      goods_id = #{record.goodsId,jdbcType=BIGINT},
      of_id = #{record.ofId,jdbcType=BIGINT},
      cart_type = #{record.cartType,jdbcType=VARCHAR},
      sc_id = #{record.scId,jdbcType=BIGINT},
      spec_info = #{record.specInfo,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update shopping_goodscart
    set id = #{record.id,jdbcType=BIGINT},
      addTime = #{record.addtime,jdbcType=TIMESTAMP},
      deleteStatus = #{record.deletestatus,jdbcType=BIT},
      count = #{record.count,jdbcType=INTEGER},
      price = #{record.price,jdbcType=DECIMAL},
      goods_id = #{record.goodsId,jdbcType=BIGINT},
      of_id = #{record.ofId,jdbcType=BIGINT},
      cart_type = #{record.cartType,jdbcType=VARCHAR},
      sc_id = #{record.scId,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xdj.www.entity.ShoppingGoodscart">
    update shopping_goodscart
    <set>
      <if test="addtime != null">
        addTime = #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="deletestatus != null">
        deleteStatus = #{deletestatus,jdbcType=BIT},
      </if>
      <if test="count != null">
        count = #{count,jdbcType=INTEGER},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="goodsId != null">
        goods_id = #{goodsId,jdbcType=BIGINT},
      </if>
      <if test="ofId != null">
        of_id = #{ofId,jdbcType=BIGINT},
      </if>
      <if test="cartType != null">
        cart_type = #{cartType,jdbcType=VARCHAR},
      </if>
      <if test="scId != null">
        sc_id = #{scId,jdbcType=BIGINT},
      </if>
      <if test="specInfo != null">
        spec_info = #{specInfo,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.xdj.www.entity.ShoppingGoodscart">
    update shopping_goodscart
    set addTime = #{addtime,jdbcType=TIMESTAMP},
      deleteStatus = #{deletestatus,jdbcType=BIT},
      count = #{count,jdbcType=INTEGER},
      price = #{price,jdbcType=DECIMAL},
      goods_id = #{goodsId,jdbcType=BIGINT},
      of_id = #{ofId,jdbcType=BIGINT},
      cart_type = #{cartType,jdbcType=VARCHAR},
      sc_id = #{scId,jdbcType=BIGINT},
      spec_info = #{specInfo,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xdj.www.entity.ShoppingGoodscart">
    update shopping_goodscart
    set addTime = #{addtime,jdbcType=TIMESTAMP},
      deleteStatus = #{deletestatus,jdbcType=BIT},
      count = #{count,jdbcType=INTEGER},
      price = #{price,jdbcType=DECIMAL},
      goods_id = #{goodsId,jdbcType=BIGINT},
      of_id = #{ofId,jdbcType=BIGINT},
      cart_type = #{cartType,jdbcType=VARCHAR},
      sc_id = #{scId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>
