<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xdj.interfaces.mallinterface.mapper.ShoppingPredepositLogMapper">
  <resultMap id="BaseResultMap" type="com.xdj.www.entity.ShoppingPredepositLog">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="addTime" jdbcType="TIMESTAMP" property="addtime" />
    <result column="deleteStatus" jdbcType="BIT" property="deletestatus" />
    <result column="pd_log_amount" jdbcType="DECIMAL" property="pdLogAmount" />
    <result column="pd_op_type" jdbcType="VARCHAR" property="pdOpType" />
    <result column="pd_type" jdbcType="VARCHAR" property="pdType" />
    <result column="pd_log_admin_id" jdbcType="BIGINT" property="pdLogAdminId" />
    <result column="pd_log_user_id" jdbcType="BIGINT" property="pdLogUserId" />
    <result column="predeposit_id" jdbcType="BIGINT" property="predepositId" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.xdj.www.entity.ShoppingPredepositLog">
    <result column="pd_log_info" jdbcType="LONGVARCHAR" property="pdLogInfo" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, addTime, deleteStatus, pd_log_amount, pd_op_type, pd_type, pd_log_admin_id, pd_log_user_id,
    predeposit_id
  </sql>
  <sql id="Blob_Column_List">
    pd_log_info
  </sql>

  <select id="queryByCondition" resultMap="BaseResultMap">
    select  * from shopping_predeposit_log
    <where>
      1=1
      <if test="pd_log_user_id != null "> and pd_log_user_id=#{pd_log_user_id}</if>
      <if test="orderBy != null and sort != null "> order by ${orderBy} ${sort}</if>
      <if test="start != null and pageSize != null"> limit #{start},#{pageSize}</if>
    </where>
  </select>
  <select id="count" resultType="java.lang.Integer">
    select  count(*) from shopping_predeposit_log
    <where>
      1=1
      <if test="pd_log_user_id != null "> and pd_log_user_id=#{pd_log_user_id}</if>

    </where>
  </select>


  <select id="selectByExampleWithBLOBs" parameterType="com.xdj.www.entity.ShoppingPredepositLogExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from shopping_predeposit_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.xdj.www.entity.ShoppingPredepositLogExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from shopping_predeposit_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from shopping_predeposit_log
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from shopping_predeposit_log
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.xdj.www.entity.ShoppingPredepositLogExample">
    delete from shopping_predeposit_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xdj.www.entity.ShoppingPredepositLog">
    insert into shopping_predeposit_log (id, addTime, deleteStatus,
      pd_log_amount, pd_op_type, pd_type,
      pd_log_admin_id, pd_log_user_id, predeposit_id,
      pd_log_info)
    values (#{id,jdbcType=BIGINT}, #{addtime,jdbcType=TIMESTAMP}, #{deletestatus,jdbcType=BIT},
      #{pdLogAmount,jdbcType=DECIMAL}, #{pdOpType,jdbcType=VARCHAR}, #{pdType,jdbcType=VARCHAR},
      #{pdLogAdminId,jdbcType=BIGINT}, #{pdLogUserId,jdbcType=BIGINT}, #{predepositId,jdbcType=BIGINT},
      #{pdLogInfo,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xdj.www.entity.ShoppingPredepositLog">
    insert into shopping_predeposit_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="addtime != null">
        addTime,
      </if>
      <if test="deletestatus != null">
        deleteStatus,
      </if>
      <if test="pdLogAmount != null">
        pd_log_amount,
      </if>
      <if test="pdOpType != null">
        pd_op_type,
      </if>
      <if test="pdType != null">
        pd_type,
      </if>
      <if test="pdLogAdminId != null">
        pd_log_admin_id,
      </if>
      <if test="pdLogUserId != null">
        pd_log_user_id,
      </if>
      <if test="predepositId != null">
        predeposit_id,
      </if>
      <if test="pdLogInfo != null">
        pd_log_info,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="addtime != null">
        #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="deletestatus != null">
        #{deletestatus,jdbcType=BIT},
      </if>
      <if test="pdLogAmount != null">
        #{pdLogAmount,jdbcType=DECIMAL},
      </if>
      <if test="pdOpType != null">
        #{pdOpType,jdbcType=VARCHAR},
      </if>
      <if test="pdType != null">
        #{pdType,jdbcType=VARCHAR},
      </if>
      <if test="pdLogAdminId != null">
        #{pdLogAdminId,jdbcType=BIGINT},
      </if>
      <if test="pdLogUserId != null">
        #{pdLogUserId,jdbcType=BIGINT},
      </if>
      <if test="predepositId != null">
        #{predepositId,jdbcType=BIGINT},
      </if>
      <if test="pdLogInfo != null">
        #{pdLogInfo,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xdj.www.entity.ShoppingPredepositLogExample" resultType="java.lang.Long">
    select count(*) from shopping_predeposit_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update shopping_predeposit_log
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.addtime != null">
        addTime = #{record.addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.deletestatus != null">
        deleteStatus = #{record.deletestatus,jdbcType=BIT},
      </if>
      <if test="record.pdLogAmount != null">
        pd_log_amount = #{record.pdLogAmount,jdbcType=DECIMAL},
      </if>
      <if test="record.pdOpType != null">
        pd_op_type = #{record.pdOpType,jdbcType=VARCHAR},
      </if>
      <if test="record.pdType != null">
        pd_type = #{record.pdType,jdbcType=VARCHAR},
      </if>
      <if test="record.pdLogAdminId != null">
        pd_log_admin_id = #{record.pdLogAdminId,jdbcType=BIGINT},
      </if>
      <if test="record.pdLogUserId != null">
        pd_log_user_id = #{record.pdLogUserId,jdbcType=BIGINT},
      </if>
      <if test="record.predepositId != null">
        predeposit_id = #{record.predepositId,jdbcType=BIGINT},
      </if>
      <if test="record.pdLogInfo != null">
        pd_log_info = #{record.pdLogInfo,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update shopping_predeposit_log
    set id = #{record.id,jdbcType=BIGINT},
      addTime = #{record.addtime,jdbcType=TIMESTAMP},
      deleteStatus = #{record.deletestatus,jdbcType=BIT},
      pd_log_amount = #{record.pdLogAmount,jdbcType=DECIMAL},
      pd_op_type = #{record.pdOpType,jdbcType=VARCHAR},
      pd_type = #{record.pdType,jdbcType=VARCHAR},
      pd_log_admin_id = #{record.pdLogAdminId,jdbcType=BIGINT},
      pd_log_user_id = #{record.pdLogUserId,jdbcType=BIGINT},
      predeposit_id = #{record.predepositId,jdbcType=BIGINT},
      pd_log_info = #{record.pdLogInfo,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update shopping_predeposit_log
    set id = #{record.id,jdbcType=BIGINT},
      addTime = #{record.addtime,jdbcType=TIMESTAMP},
      deleteStatus = #{record.deletestatus,jdbcType=BIT},
      pd_log_amount = #{record.pdLogAmount,jdbcType=DECIMAL},
      pd_op_type = #{record.pdOpType,jdbcType=VARCHAR},
      pd_type = #{record.pdType,jdbcType=VARCHAR},
      pd_log_admin_id = #{record.pdLogAdminId,jdbcType=BIGINT},
      pd_log_user_id = #{record.pdLogUserId,jdbcType=BIGINT},
      predeposit_id = #{record.predepositId,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xdj.www.entity.ShoppingPredepositLog">
    update shopping_predeposit_log
    <set>
      <if test="addtime != null">
        addTime = #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="deletestatus != null">
        deleteStatus = #{deletestatus,jdbcType=BIT},
      </if>
      <if test="pdLogAmount != null">
        pd_log_amount = #{pdLogAmount,jdbcType=DECIMAL},
      </if>
      <if test="pdOpType != null">
        pd_op_type = #{pdOpType,jdbcType=VARCHAR},
      </if>
      <if test="pdType != null">
        pd_type = #{pdType,jdbcType=VARCHAR},
      </if>
      <if test="pdLogAdminId != null">
        pd_log_admin_id = #{pdLogAdminId,jdbcType=BIGINT},
      </if>
      <if test="pdLogUserId != null">
        pd_log_user_id = #{pdLogUserId,jdbcType=BIGINT},
      </if>
      <if test="predepositId != null">
        predeposit_id = #{predepositId,jdbcType=BIGINT},
      </if>
      <if test="pdLogInfo != null">
        pd_log_info = #{pdLogInfo,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.xdj.www.entity.ShoppingPredepositLog">
    update shopping_predeposit_log
    set addTime = #{addtime,jdbcType=TIMESTAMP},
      deleteStatus = #{deletestatus,jdbcType=BIT},
      pd_log_amount = #{pdLogAmount,jdbcType=DECIMAL},
      pd_op_type = #{pdOpType,jdbcType=VARCHAR},
      pd_type = #{pdType,jdbcType=VARCHAR},
      pd_log_admin_id = #{pdLogAdminId,jdbcType=BIGINT},
      pd_log_user_id = #{pdLogUserId,jdbcType=BIGINT},
      predeposit_id = #{predepositId,jdbcType=BIGINT},
      pd_log_info = #{pdLogInfo,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xdj.www.entity.ShoppingPredepositLog">
    update shopping_predeposit_log
    set addTime = #{addtime,jdbcType=TIMESTAMP},
      deleteStatus = #{deletestatus,jdbcType=BIT},
      pd_log_amount = #{pdLogAmount,jdbcType=DECIMAL},
      pd_op_type = #{pdOpType,jdbcType=VARCHAR},
      pd_type = #{pdType,jdbcType=VARCHAR},
      pd_log_admin_id = #{pdLogAdminId,jdbcType=BIGINT},
      pd_log_user_id = #{pdLogUserId,jdbcType=BIGINT},
      predeposit_id = #{predepositId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>

</mapper>
