<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title th:text="${'包含'+keyword+'商品搜索结果'}"></title>
  <meta name="copyright" content="shopping Inc. All Rights Reserved">
  <link th:href="@{/style/system/front/default/css/public.css}" type="text/css" rel="stylesheet" />
  <link th:href="@{'/style/shop/'+${store.template}+'/css/default.css' }" type="text/css" rel="stylesheet" />
  <link th:href="@{/style/common/css/overlay.css}" type="text/css" rel="stylesheet" />
  <script th:src="@{/js/jquery-1.6.2.js}"></script>
  <script th:src="@{/js/jquery-ui-1.8.21.js}"></script>
  <script th:src="@{/js/jquery.shop.common.js}"></script>
  <script th:src="@{/js/jquery.lazyload.js}"></script>
  <script th:src="@{/js/top.js}"></script>
  <script th:src="@{/js/store_left.js}"></script>
  <script th:src="@{/js/store_head.js}"></script>
  <script>
    jQuery(document).ready(function(){
      jQuery(".smallgoods .goodsimgs img").lazyload({effect:"fadeIn",width:178,height:170});
    });
  </script>
</head>
<body>
<div class="top_page">
  <div class="pageright" id="site-nav">
    <ul class="quick-menu">
      <li class="mytaobao menu-item menupx">
        <div class="menu"><a class="menu-hd" th:href="@{/buyer/index.htm}" rel="nofollow">我的订单<b></b></a>
          <div class="menu-bd">
            <div class="menu-bd-panel">
              <div>
                <a th:href="@{/buyer/order.htm(order_status=order_submit)}" rel="nofollow">待支付</a>
                <a th:href="@{/buyer/order.htm(order_status=order_shipping)}" rel="nofollow">待收货</a>
                <a th:href="@{/buyer/order.htm(order_status=order_receive)}" rel="nofollow">待评价</a>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="mytaobao menu-item menupx">
        <div class="menu">
          <a class="menu-hd" th:href="@{/seller/index.htm}" rel="nofollow">商家支持<b></b></a>
          <div class="menu-bd">
            <div class="menu-bd-panel">
              <div>
                <a th:href="@{http://emode.xdjplus.com:8080/seller/index.htm}" rel="nofollow">商家中心</a>
                <a th:href="@{http://emode.xdjplus.com:8080/seller/order.htm}" rel="nofollow">商家订单</a>
                <a th:href="@{http://emode.xdjplus.com:8080/seller/goods.htm}" rel="nofollow">商家商品</a>
                <span th:switch="${user != null}">
									<a th:case="true" th:href="@{/store.htm(id=${user.storeId})}"
                                       rel="nofollow">我的店铺</a>
                                    <a th:case="false" th:href="@{/seller/store_create_first.htm}"
                                       rel="nofollow">商家入驻</a>
								</span>

              </div>
            </div>
          </div>
        </div>
      </li>

      <li class="search menu-item menupx">
        <div class="menu" id="cart_menu">
               <span class="menu-hd" id="cart_goods_top_menu">
                    <s></s>
                    <a th:href="@{/goods_cart1.htm}" rel="nofollow">购物车</a><b></b>
                  </span>
        </div>
      </li>
      <li class="menupx">
        <a th:href="@{/buyer/message.htm}">
          站内短信<span th:if="${msgs != null }" style="color:#FF3300;" th:text="${msgs.size()}"></span></a>
      </li>
      <li class="mytaobao menu-item menupx">
        <div class="menu">
          <a class="menu-hd" th:href="@{/buyer/favorite_goods.htm}" rel="nofollow">收藏夹<b></b></a>
          <div class="menu-bd">
            <div class="menu-bd-panel">
              <div>
                <a th:href="@{/buyer/favorite_goods.htm}" rel="nofollow">收藏商品</a>
                <a th:href="@{/buyer/favorite_store.htm}" rel="nofollow">收藏店铺</a>
              </div>
            </div>
          </div>
        </div>
      </li>

      <li th:if="${suer != null && user.userRole == 'ADMIN' }" class="menupx">
        <a th:href="@{/admin/index.htm}" target="_blank">管理后台</a>
      </li>
      <li class="menupx" th:if="${navs != null}">
        <a th:href="@{/articlelist.htm(param=help)}">帮助中心</a>
      </li>

      <li class="menupx" style="background:none;" th:if="${navs == null}">
        <a th:href="@{/articlelist.htm(param=help)}">帮助中心</a>
      </li>

      <li class="mytaobao menu-item menupx" style="background:none;" th:if="${navs != null }">
        <div class="menu">
          <a class="menu-hd" href="/buyer/index.htm" rel="nofollow">更多链接<b></b></a>
          <div class="menu-bd" style="height:auto;">
            <div class="menu-bd-panel">
              <div th:each="nav : ${navs}">
                <a th:href="@{ '/' + ${ nav.url }}" rel="nofollow" th:text="${nav.title}"></a>
              </div>
            </div>
          </div>
        </div>
      </li>

    </ul>
  </div>

  <div class="pageleft">
        <span th:switch="${user != null}">
          <span th:case="true">
             <span th:text="${user.username}"></span>
			  <span>您好,欢迎来到</span>
			  <span th:text=" ${config.websitename}"></span>
             <a th:href="@{/shopping_logout.htm}" class="lightblue">[退出]</a>
          </span>
          <span th:case="false">
			  <span>亲，欢迎来到</span><span th:text="${config.websitename}"></span>
             <span class="pxlr">
               <a th:href="@{/user/login.htm}" class="lightblue">登录</a>
             </span>
            <span class="pxlr">或</span>
            <span class="pxlr">
              <a th:href="@{/register.htm}" class="lightblue">注册</a>
            </span>
          </span>
        </span>
  </div>
</div>

<div class="page_width">
  <div class="main_top">
    <div class="head">
      <div>
        <input type="hidden" id="user" th:value="${user}"/>
        <input type="hidden" id="storeId" th:value="${headStore.id}"/>
      </div>
      <div class="logo">
        <a th:if="${config.websiteLogo}" th:href="@{/index.htm}">
          <img th:src="@{${config.websiteLogo.path}+'/'+${config.websiteLogo.name}}" border="0" width="180" height="60"/>
        </a>
        <a th:unless="${config.websiteLogo}" th:href="@{/index.htm}">
          <img th:src="@{/style/system/front/default/images/logo.png}" width="200" border="0" width="180" height="60"/>
        </a>
      </div>
      <div class="shop_top_search">
        <div class="top_search_left">
          <div class="filter_z">
            <div class="top_searleft"></div>
            <div class="top_nofilter">
              <div class="top_sear_kf">
                <a th:href="@{/store.htm(id=${headStore.id})}" th:text="${headStore.storeName}"></a>
                <a target="_blank" th:href="@{http://wpa.qq.com/msgrd(v=3,uin=${headStore.storeQq},Site=${headStore.storeQq},Menu=yes)}">
                  <img  alt="点击这里给我发消息" th:src="@{${'http://wpa.qq.com/pa(p=2:'+headStore.storeQq +':51)'} }"/>
                </a>
              </div>

              <div class="top_sear_star">
                <a href="javascript:void(0);" class="top_sc" th:if="${user}" >点击收藏</a>
                <a href="javascript:void(0);" class="top_sc" th:unless="${user}"  th:dialog_uri="${'/user_dialog_login.htm'}" dialog_title="会员登录"
                   dialog_width="450" dialog_height="100" dialog_id="user_login">点击收藏</a>
                <span th:if="${credit==0}">
                     <img th:src="@{/style/common/images/level_-1.gif}"/>
                 </span>
                <span th:unless="${credit==0}">
                      <img th:each="c : ${credits}" style="margin-left:1px;" th:src="@{style/common/images/level_2.gif}"/>
                 </span>
              </div>
            </div>
          </div>
          <b class="top_b"></b><b class="top_b2" style="display:none"></b>
          <div class="top_sear_bom" style="display:none;">
            <dl class="top_dl">
              <dt><b>店铺动态评分</b><i>与同行业相比</i></dt>
              <dd>
                <ul class="top_dl_ul">
                  <li>
                    <i>描述相符：</i>
                    <b th:text="${headStore.point.descriptionEvaluate}"></b>
                    <em class="description_css">
                      <strong th:text="${description_type}"></strong>
                    </em>
                  </li>
                  <li>
                    <i>服务态度：</i>
                    <b th:text="${headStore.point.serviceEvaluate}"></b>
                    <em th:class="${service_css}">
                      <strong th:text="${service_type}"></strong>
                      <span th:text="${service_result}"></span>
                    </em>
                  </li>
                  <li>
                    <i>发货速度：</i>
                    <b th:text="${headStore.point.shipEvaluate}"></b>
                    <em th:class="${ship_css}">
                      <strong th:text="${ship_type}"></strong>
                      <span th:text="${ship_result}"></span>
                    </em>
                  </li>
                </ul>
              <dd>
            </dl>
            <dl class="top_dl">
              <dt>店铺认证</dt>
              <dd>
                <span>
                  <img th:src="@{'/style/common/images/card_approve_'+${headStore.cardApprove}+'.gif'}"/>
                </span>
                <span>
                <img th:src="@{'/style/common/images/realstore_approve_'+${headStore.realstoreApprove}+'.gif'}"/>
                </span>
              <dd>
            </dl>
            <dl class="top_dl">
              <dt>店铺信息</dt>
              <dd>
                <span class="top_dl_width">
                  商品数量：<span th:text="${goods_counts}"></span>件
                </span>
                <span class="top_dl_width" th:text="'好评率：' +${headStore.point.storeEvaluate1}">

                </span>
                <span class="top_dl_width">
                  创店时间：<span  th:text="${#dates.format(headStore.addtime,'yyyy-MM-dd')}"></span>
                </span>
                <span class="top_dl_width" th:text="'收藏人气：'+${store.favoriteCount}">
                </span>
              </dd>
            </dl>
          </div>
        </div>
        <form method="post" target="_blank" id="store_top_search_form">
          <input name="store_id" type="hidden" th:value="${headStore.id}"/>
          <div class="top_search_right">
            <div class="top_search_bg"></div>
            <div class="top_shop_seacher"> <span class="sear_shop">
              <input name="keyword" type="text" id="keyword"/>
              </span><span class="all_sear_btn">
              <input name="" type="button" value="搜全站" search_area="site" style="cursor:pointer;"/>
              </span><span class="shop_sear_btn">
              <input name="" type="button" value="搜本店" search_area="store" style="cursor:pointer;"/>
              </span>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="banner_width">
  <div class="shopbanner">
    <img th:if="${headStore.store_banner}" th:src="@{${'/'+headStore.store_banner.path + '/'+headStore.store_banner.name}}"  width="1002" height="100"/>
    <img th:unless="${headStore.store_banner}" th:src="@{${'/style/shop/'+${headStore.template}+'/images/banner.jpg'}}"  width="1002" height="100" />
  </div>
</div>
<div class="nav_width">
  <div class="main">
    <div class="nav_bg">
      <div class="shopnav">
        <div class="shopnavul">
          <ul>
            <li id="store_index">
              <a th:href="@{/store.htm(id=${store.id})}" >首页</a>
            </li>
            <li th:if="${goods_view}==true" id="store_goods" class="this">
              <a th:href="@{/store.htm(goods_id=${goods_id})}">商品详情</a>
            </li>
            <li th:if="${goods_list}==true" id="store_goods" class="this">
              <a th:href="@{/goods_list.htm(sc_id=${store.id})}">商品列表</a>
            </li>
            <li id="store_credit">
              <a th:href="@{/store_credit.htm(store_id=${store.id})}" >信用评价</a>
            </li>
            <li id="store_info">
              <a th:href="@{/store_info.htm(id=${store.id})}">店铺详情</a>
            </li>
            <li th:each="nav : ${navs}" th:id="${nav.id}">
              <a th:href="@{/store_url.htm(id=${nav.id})}"   target="_blank" th:text="${nav.title}"></a><!--#if($!nav.win_type=="new_win")-->
              <a th:if="${nav.url&&nav.url!=''}" th:href="@{'/'+${nav.url}}"  target="_blank" th:text="${nav.title}"></a>
            </li>
          </ul>
        </div>
        <div class="shopnavs">

        </div>
      </div>
    </div>
  </div>
  <div class="navbotm"></div>
</div>
<div class="main">
  <div class="shop">
    <div class="shop_index">

      <div class="shopindex_left">
        <div class="shoptop">
          <h1 th:text="${headStore.storeName}"></h1>
          <div class="shopvalue">
            <dl class="shopvdl">
              <dt>
          <span>
            <img th:if="${headStore.storeLogo}" th:src="@{'/'+${headStore.storeLogo.path+'/'+headStore.storeLogo.name}}" width="60" height="60" />
            <img th:unless="${headStore.storeLogo}" th:src="@{'/'+${config.storeImage.path+'/'+config.storeImage.name}}" width="60" height="60" />
          </span>
              </dt>
              <dd>
          <span >
            <a th:href="@{/buyer/message_send.htm(username=${headStore.user.username})}" target="_blank" class="shopemail">
              <img src="/style/shop/green/images/mail.jpg" width="15" height="11" />
            </a>
          </span>
                <span th:if="${credit==0}">
            <img th:src="@{#{style/common/images/level_-1.gif}}" />
           <!-- <img th:unless="${credit==0}" th:each="count : ${credits }" style="margin-left:1px;" th:src="${creditImg}" />-->
          </span>
                <span th:unless="${credit==0}">
            <img  th:each="count : ${credits }" style="margin-left:1px;" th:src="@{${creditsImg}}" />
          </span>
                <span class="hui2" th:text="'好评率：' +${headStore.point.storeEvaluate1*100 +'%'}"></span>
              </dd>
            </dl>
            <h1>动态评价<i>与同行比较</i></h1>
            <ul class="shop_movepj">
              <li>
                <i>描述相符：</i>
                <b th:text="${headStore.point.descriptionEvaluate}"></b>
                <em class="$!description_css">
                  <strong th:text="${description_type}"></strong>
                  <span th:text="${description_result}"></span>
                </em>
              </li>
              <li>
                <i>服务态度：</i>
                <b th:text="${headStore.point.serviceEvaluate}"></b>
                <em th:class="${service_css}">
                  <strong th:text="${service_type }"></strong>
                  <span th:text="${service_result}"></span>
                </em>
              </li>
              <li>
                <i>发货速度：</i>
                <b th:text="${headStore.point.shipEvaluate}"></b>
                <em th:class="${ship_css}">
                  <strong th:text="${ship_type}"> </strong>
                  <span th:text="${ship_result}"></span>
                </em>
              </li>
            </ul>
            <h1>店铺信息</h1>
            <ul>
              <li th:text="${'创店时间：'+#dates.format(store.addtime,'yyyy-MM-dd')}"></li>
              <li th:text="${'所在地区：'}"></li>
              <li>
                商品数量：
                <strong class="blue" th:text="${goods_counts +'件商品'}"></strong>
              </li>
              <li>
                店铺收藏：<strong class="blue"  th:text="${headStore.favoriteCount+ '人收藏' }"></strong>
              </li>
              <li th:text="${'联系电话：'+ headStore.storeTelephone }"></li>
            </ul>
            <h1>联系方式</h1>
            <ul>
              <li class="shopcusser">
                <span>站内客服：</span>
                <span>
                 <a  th:if="${user}" class="im_common" href="javascript:void(0);" user_id="$!store.user.id" th:id="${'userDialog_img_contact_'+headStore.user.id}" th:attr="user_name=${headStore.user.username}"> 咨询客服</a>
                 <a th:unless="${user}" class="im_common" href="javascript:void(0);" dialog_uri="/user_dialog_login.htm" dialog_title="会员登录" dialog_width="450" dialog_height="100" dialog_id="user_login">咨询客服 </a>
                </span>
              </li>
              <li class="shopcusser">
                <span>站外客服：</span>
                <span>
                  <a target="_blank" th:href="@{${'http://wpa.qq.com/msgrd?v=3&uin='+store.storeQq+'&Site='+store.storeQq +'&Menu=yes'}}">
                    <img alt="点击这里给我发消息" th:src="@{${'http://wpa.qq.com/pa?p=2:'+store.storeQq+':51'}}" />
                  </a>
                </span>
              </li>
            </ul>
          </div>
          <div class="shop_botm_hid">
            <ul class="shopboh">
              <li class="collection">
                <a  th:if="${user}" href="javascript:void(0);" id="store_fav" dialog_uri="/user_dialog_login.htm" dialog_title="会员登录" dialog_width="450" dialog_height="100" dialog_id="user_login">
                  <span>收藏店铺</span>
                </a>
                <a  th:unless="${user}" href="javascript:void(0);" id="store_fav"  >
                  <span>收藏店铺</span>
                </a>
              </li>
              <li class="this">
          <span class="twocoad">
            店铺二维码
            <div class="shop_botmhbox" style="display:none;">
              <span>
                <img th:src="@{${config.uploadfilepath +'/store/'+store.id+'/code.png'}}" width="140" height="140" />
              </span>
              <i>手机扫描二维码<br />快速收藏店铺</i>
            </div>
          </span>
              </li>
            </ul>
          </div>
        </div>
        <form action="/store_goods_search.htm" method="post" id="store_search_form">
          <div class="shopsearch">
            <ul>
              <li>
                <span class="searspan">关键字：</span>
                <span class="shopsear1">
            <input name="keyword" type="text" id="keyword" />
          </span>
              </li>
              <li>
                <span class="searspan">&nbsp;</span>
                <span class="searbtns">
            <input name="input2" type="submit"  value="搜索"  style="cursor:pointer;"/>
          </span>
                <input name="store_id" type="hidden" id="store_id" th:value="${store.id}" />
              </li>
            </ul>
          </div>
        </form>
        <div class="shopclassify">
          <h1>商品分类</h1>
          <!--箭头sort_a,sort_b-->
          <div class="shop_sort">
            <a th:href="@{/goods_list.htm(store_id = ${store.id},orderBy='addTime',orderType='desc')}">按默认</a>
            <a th:href="@{/goods_list.htm(store_id = ${store.id},orderBy='store_price',orderType='desc')}">按价格</a>
            <a th:href="@{/goods_list.htm(store_id = ${store.id},orderBy='goods_salenum',orderType='desc')}">按销量</a>
            <a th:href="@{/goods_list.htm(store_id = ${store.id},orderBy='goods_click',orderType='desc')}">按人气</a></div>
          <ul class="shopcul">
            <li>
        <span>
          <img th:src="@{${'/style/shop/'+store.template+'/images/add2.jpg'}}" width="15" height="15" />
        </span>
              <a th:href="@{/goods_list.htm(store_id=${store.id})}" class="oneclass">所有商品</a>
            </li>
            <li th:each="ugc : ${ugcs}" th:if="${ugc.display == true}">
        <span th:id="${'ugc_'+ugc.id}" ugc_type="show" th:attr="ugc_id=${ugc.id}">
          <img th:src="@{${'/style/shop/'+store.template +'/images/add2.jpg'}}" width="15" height="15" />
        </span>
              <a th:href="@{/goods_list.htm(gc_id=${ugc.id},store_id=${store.id})}" class="oneclass" th:text="${ugc.className}"></a>
              <ul th:if="${ugc.childs}"  th:id="${'ugc_child_'+ugc.id}">
                <li th:each="cugc : ${ugc.childs}" th:if="${cugc.display == true}">
                  <a th:href="@{/goods_list.htm(gc_id=${cugc.id},store_id=${store.id})}" th:text="${cugc.className}"></a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="shop_rank">
          <h3>商品排行</h3>
          <div class="shop_rank_box">
            <div class="shop_rank_top">
              <ul>
                <li class="this" sort_id="sort_sale_goods">热销商品排行</li>
                <li sort_id="sort_collect_goods">热门收藏排行</li>
              </ul>
            </div>
            <div class="shop_rank_botm" id="sort_sale_goods">

              <dl th:each="goods :  ${sale_goods}">
                <dt>
            <span class="imgcenter_span ">
              <p>
                <a th:href="@{/goods.htm(id=${goods.id})}" target="_blank">
                  <img th:if="${goods.goods_main_photo}" width="58" height="58" th:src="@{${goods.goods_main_photo.path+'/'+goods.goods_main_photo.name}}" />
                  <img th:unless="${goods.goods_main_photo}" width="58" height="58" th:src="@{${config.goodsImage.path+'/'+config.goodsImage.name}}" />
                </a>
              </p>
            </span>
                </dt>
                <dd>
            <span class="shop_rank_name">
              <a th:href="@{/goods.htm(id=${goods.id})}" target="_blank" th:text="${goods.goodsName}"></a>
            </span>
                  <span class="shop_rank_money">
              <b th:text="${'¥'+goods.storePrice}"></b>
            </span>
                  <span class="shop_rank_show">
              <strong th:text="${'出售：'+goods.goodsSalenum+'笔'}"></strong>
            </span>
                </dd>
              </dl>
            </div>
            <div class="shop_rank_botm" style="display:none;" id="sort_collect_goods">
              <dl th:each="goods : ${collect_goods}">
                <dt>
            <span class="imgcenter_span ">
              <p>
                <a th:href="@{/goods.htm(id=${goods.id})}" target="_blank">
                  <img th:if="${goods.goods_main_photo}" width="58" height="58" th:src="@{${goods.goods_main_photo.path+'/'+goods.goods_main_photo.name}}" />
                  <img th:unless="${goods.goods_main_photo}" width="58" height="58" th:src="@{${config.goodsImage.path+'/'+config.goodsImage.name}}" />
                </a>
              </p>
            </span>
                </dt>
                <dd>
            <span class="shop_rank_name">
              <a th:href="@{/goods.htm(id=${goods.id})}" target="_blank" th:text="${goods.goodsName}"></a>
            </span>
                  <span class="shop_rank_money">
              <b th:text="${'¥'+goods.storePrice}"></b>
            </span>
                  <span class="shop_rank_show">
             <strong th:text="${' 收藏：'+goods.goodsCollect+'次'}"> </strong>
            </span>
                </dd>
              </dl>
            </div>
          </div>
          <div class="shop_check">
            <a th:href="@{/goods_list.htm(store_id=${store.id})}" class="shop_check_a">查看本店其他商品</a>
          </div>
        </div>
        <div class="shopf">
          <h1>友情链接</h1>
          <ul>
            <li th:each="partner : ${$partners}">
              <a th:href="@{${partner.url}}" target="_blank" th:text="${partner.title}"></a>
            </li>
          </ul>
        </div>
      </div>

      <form method="post" id="ListForm">
        <div class="shopindex_right">
          <div class="regoods">
            <h1 th:text="${'包含'+ keyword +'搜索结果' }"></h1>
            <div class="smallgoods" th:if="${objs}">
              <ul th:each="goods : ${objs}">
                <li class="goodsimgs">
                  <a th:href="@{/goods.htm(id=${goods.id})}" target="_blank">
                    <span class="goods_sp_span">
                    <p>
                      <img th:if="${goods.goods_main_photo}" th:src="@{${'/'+goods.goods_main_photo.path+'/'+goods.goods_main_photo.name}}"  width="160" height="160"/>
                      <img th:unless="${goods.goods_main_photo}" th:src="@{${'/'+config.goodsImage.path+'/'+ config.goodsImage.name}}"  width="160" height="160"/>
                    </p>
                  </span>
                  </a>
                </li>
                <li class="goodslook">
                  <a th:href="@{/goods.htm(id=${goods.id})}" target="_blank" class="look">查看详情</a>
                  <strong th:text="${'￥'+goods.storePrice }"></strong>
                </li>
                <li class="goodsnames">
                  <a th:href="@{/goods.htm(id=${goods.id})}" target="_blank" th:text="${goods.goodsName}"></a>
                </li>
                <li class="recentgoodsok">
                  <strong th:text="${'最近成交'+goods.goodsSalenum+'笔'}"></strong>
                </li>
              </ul>

            </div>

            <div class="sigh" th:unless="${objs}">
              <span>
                <img th:src="@{'/style/shop/'+${headStore.template}+'/images/sigh.jpg'}" width="120" height="109" />
              </span>
              <b>对不起，没有对应商品信息！</b>
            </div>

            <div class="shop_page">
              <span>
                <input name="store_id" type="hidden" id="store_id" th:value="${store.id}" />
                <input name="keyword" type="hidden" id="keyword" th:value="${keyword}" />
                <input name="currentPage" type="hidden" id="currentPage" th:value="${currentPage}" />
                <span th:utext="${gotoPageFormHTML}"></span>
              </span>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
 <!-- $!httpInclude.include("/footer.htm") -->
</div>
</body>
</html>
