.btn{
	margin: .8rem 0 0 .4rem;
	width: calc(100% - .8rem);
}

.lin_box{
	margin-top: 1px;
	color: #999;
	padding: .24rem;
	background: #fff;
	margin-top: .1rem;
}

.lin_box span{
	width: 1.6rem;
	display: block;
}

.lin_box input{
	border: none;
	text-align: right;
}

.btn_line .flex-star input{
	text-align: left;
}

.btn_line{
	padding: .09rem .24rem;
}

.btn_line input[type=button]{
	padding: .15rem .3rem;
	border-radius: .6rem;
	color: white;
	background: #333;
}