.head_img_box{
	margin: .1rem 0 1rem 0;
	background: #fff;
	padding: .4rem 0;
	position: relative;
	text-align: center;
}

.head_img_box img{
	width: 4.4rem;
	height: 4.4rem;
	border: 2px solid #feab27;
	border-radius: 50%;
}

.head_img_box input{
	position: absolute;
	width: 4.4rem;
	height: 4.4rem;
	left: calc(50% - 2.2rem);
	top: .3rem;
	opacity: 0;
}

.up_itps{
	color: #999;
	font-size: .3rem;
	margin-top: .15rem;
}

.btn{
	width: calc(100% - .8rem);
	margin-left: .4rem;
}