.goodscartStore{
	overflow: scroll;
	background: white;
	padding: .15rem;
	height: .7rem;
	margin: 0 .24rem;
}

.Store_box{
	color: #ff9900;
}

.Store_box svg{
	width: .3rem;
	height: .3rem;
	margin-right: .1rem;
}

.goodscartStore div{
}


.goodscartStore .goods_right{
	text-align: right;
}
.goodscartList{
	height: calc(100vh - 3rem);
	overflow: scroll;
	margin-top: .2rem;
}

.page_tit{
	padding: .2rem .24rem;
	background: #fff;
	font-weight: bold;
	font-size: .36rem
}

.list_item{
	background: white;
	padding: .3rem .2rem .15rem .2rem;
	margin: 0 .24rem 0 .24rem;
	color: #999;
}

.list_item select{
	border: none;
	-webkit-appearance: none;
	background: transparent;
	border-radius: 4px;
	color: #aaa;
	font-size: .24rem;
}

.yhq_chose{
	background: #eee;
	display: inline-block;
	border-radius: 5px;
	padding: 0 .1rem;
}

.goodscartList .list_item:nth-child(n + 2){
	margin-top: .2rem;
}

.list_item img{
	width: 1.8rem;
	height: 1.8rem;
}

.item_right{
	width: calc(100% - .5rem);
}

.right_top_rgiht{
	width: calc(100% - 2rem);
	height: 1.8rem;
}

.wordNoWarp{
	width: 80%;
	color: #666;
}

.price_box{
	margin-top: .05rem;
}

.goods_tit svg{
	width: .35rem;
	height: .35rem;
	fill: #333;
}

.price_box div{
	font-size: .3rem;
	color: #ff2400;
	margin-right: .2rem;
}

.goods_opt{
	margin-top: .25rem;
}

.spec_box{
	background: #f7f7f7;
	padding: .02rem .2rem;
	border-radius: .5rem;
	color: #555;
	font-size: .24rem;
	color: #999;
}

.num_box{
	width: 1.6rem;
	height: .4rem;
	border: 1px solid #eeeeee;
	color: #333;
	border-radius: .4rem;
}

.num_box div{
	width: calc(100% / 3);
	text-align: center;
}

.num_box div:nth-child(2){
	width: .7rem;
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
}

.goods_tips{
	font-size: .2rem;
	margin-top: .1rem;
}

.page_address{
	background: #fff;
	padding: .3rem .24rem;
}



.address_left p{
	font-size: .32rem;
	color: #333333;
	font-weight: bold;
}

.address_left div{
	font-size: .24rem;
	color: #999;
	margin-top: .1rem;
}

.page_address button{
	width: 1.2rem;
	height: .6rem;
	border: none;
	background: #333333;
	color: white;
}

.page_bottom{
	position: fixed;
	width: 100%;
	padding: 0 .24rem;
	background: white;
	bottom: 1.04rem;
}

.price_line{
}

.allprice{
	font-size: .32rem;
	font-weight: bold;
}

.pay_btn{
	width: 2rem;
	margin-left: .15rem;
	height: .7rem;
	color: white;
	background: #333;
	border: none;
}

.qyprice{
	font-size: .24rem;
	text-align: right;
	color: #333;
}

.pay_tips{
	padding: .1rem;
	font-size: .24rem;
	color: #999;
	text-align: center;
}

/* modal */
.ui-modal{
	width: 100%;
	padding: .2rem .4rem;
	background: white;
	position: absolute;
	bottom: 0;
	border-radius: 8px 8px 0 0;
}

.ui-modal .modal_close{
	width: .36rem;
	position: absolute;
	height: .36rem;
	border: 1px solid #999999;
	border-radius: 50%;
	right: .2rem;
	padding: .05rem;
}

.modal_btn input[type=button]{
	width: 50%;
	border: none;
	height: .7rem;
}

.modal_btn input[type=button]:nth-child(1){
	background: #666;
	color: white;
	border-radius: 6px 0 0 6px;
}

.modal_btn input[type=button]:nth-child(2){
	background: #333;
	color: #fff;
	border-radius: 0 6px 6px 0;
}

.ui-modal img{
	width: 2rem;
	height: 2rem;
}

.ui-shade{
	display: none;
	z-index: 11;
}

.ui-modal{
	position: fixed;
}

.shadeshow{
	animation: shadeshow .25s;
}

.shadenone{
	animation: shadeshow .25s;
}

@keyframes shadeshow{
	from{bottom: -100vh;}
	to{bottom: 0;}
}

@keyframes shadenone{
	from{bottom: 0;}
	to{bottom: -100vh;}
}

/* spec */
.goods_spec{
	margin-top: .1rem;
}

.spec_tit{
	padding: .2rem .24rem 0 .24rem;
}

.sepc_cont{
	padding: .2rem .24rem 0 .24rem;
	flex-wrap: wrap;
}

.spec_line{
	background: white;
}
/*
.sepc_cont img{
	width: calc((100vw - .93rem) / 4);
	display: block;
	margin-left: .15rem;
	border-radius: 4px;
}

.sepc_cont img:nth-child(4n - 3){
	margin-left: 0;
}

.sepc_cont img:nth-child(n + 5){
	margin-top: .15rem;

.sepc_cont div{
	padding: .02rem .1rem;
	border: 1px solid #d8d8d8;
	border-radius: 4px;
	margin-right: .15rem;
}*/

.sepc_cont img{
	width: calc((100vw - .93rem) / 4);
	display: block;
	margin-left: .15rem;
	border-radius: 4px;
}

.sepc_cont img:nth-child(4n - 3){
	margin-left: 0;
}

.sepc_cont img:nth-child(n + 5){
	background-color:#EB610F;
}

.sepc_cont div{
	border: 1px solid #d8d8d8;
	line-height: .58rem;
	width: .69rem;
	height: .58rem;
	text-align: center;
	margin-right: .2rem;
}
.sepc_cont div .no_spc_img{
	padding: .02rem .1rem;
	border: 1px solid #d8d8d8;
	border-radius: 50%;
	width: .58rem;
	height: .58rem;
	margin: .03rem .035rem;
}
.sepc_cont div .and_spc_img{
	border: 1px solid #d8d8d8;
	height: .59rem;
	width: .7rem;
	text-align: center;
	line-height: .59rem;
	margin-left: .1rem;
}

.sepc_act{
	background-color: #EB610F;
}

/*.flex-property{
	border: 1px solid #e7e6e3 !important;
	border-radius: 50%;
	width: .69rem;
	height: .69rem;
}*/

/*.sepc_act{
	border: 1px solid #ff9900 !important;
	color: #ff9900;
}*/

.num_opt{
	padding: .15rem .24rem;
}

.num_opt div{
	width: .6rem;
	height: .5rem;
	background: #f2f2f2;
	text-align: center;
	color: #d8d8d8;
}

.num_opt input{
	width: .6rem;
	height: .5rem;
	border: none;
	text-align: center;
}

.btn_cont{
	padding: .2rem .24rem;
	background: white;
}

.modal_btn {
	margin-top: .25rem;
}

.colorbacok{
	width: .7rem !important;
	height: .7rem !important;
	display: flex;
	align-items: center;
	justify-content: center;
}