<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:if="${rows==0}" class="novalue" th:text="#{messages.content.no}">  </div>

<div th:unless="${rows==0}" class="okcode" id="strike_tab" style="margin-top:10px;">
    <ul>
        <li>
            <table width="797" border="0" cellspacing="0" cellpadding="0" class="okcodetable">
                <tr style=" background:#EEEDED; font-weight:bold">
                    <td width="130" th:text="#{messages.buyer}"></td>
                    <td width="80" th:text="#{messages.unit.price}"></td>
                    <td width="100" th:text="#{messages.goods.attribute}"></td>
                    <td width="80" th:text="#{messages.amount}"></td>
                    <td width="100" th:text="#{messages.trade.time}"></td>
                </tr>
                <tr th:each="obj :${objs}">

                    <td class="blue" valign="middle" width="130" >
                        <span th:if="${obj.of.user}" th:text="${obj.of.user.username}"></span>
                        <span th:if="${credit==0}">
                            <img th:src="@{/style/common/images/level_-1.gif}"/>
                        </span>
                        <span th:unless="${credit==0}">
                            <img th:each="c : ${credits}" style="margin-left:1px;" th:src="@{style/common/images/level_2.gif}"/>
                        </span>
                    <td>
                        <strong class="orange" >
                            <span th:text="${'¥ '+obj.goods.storePrice}"></span>
                        </strong>
                    </td>
                    <td th:text="${obj.specInfo}"></td>
                    <td th:text="${obj.count}"></td>
                    <td th:text="${#dates.format(obj.of.paytime,'yyyy-MM-dd')}"></td>
                </tr>
            </table>
        </li>
    </ul>
</div>
<div class="fenye">
    <div class="fenyes" th:utext="${gotoPageAjaxHTML}"></div>
</div>
</html>
