<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" data-dpr="1" style="font-size: 40px;">
<head>
    <meta charset="UTF-8">
    <title th:text="${store.storeName}"> </title>
    <meta name="description" content="liquid">
    <meta property="og:site_name" content="liquid">
    <meta property="og:url" content="http:emode.xdjplus.com/">
    <meta property="og:title" content="liquid">
    <meta property="og:description" content="liquid">
    <meta property="og:type" content="website">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="liquid">
    <meta name="twitter:description" content="liquid">


    <meta name="baidu-site-verification" content="ipKHZuNHRp">
    <meta name="360-site-verification" content="1cbc8ac732b3cff1a60147d4698401f3">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">
    <meta name="applicable-device" content="mobile">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" cosntent="black-translucent">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-title" content="liquid">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="aplus-terminal" content="1">
    <meta name="format-detection" content="telephone=no, email=no">

    <link rel="icon" href="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQImWNgYGBgAAAABQABh6FO1AAAAABJRU5ErkJggg=="
          type="image/x-icon">

    <script async="" th:src="@{js/scevent.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/init.js}"></script>
    <script type="text/javascript" src="https://lib.baomitu.com/jquery/3.5.0/jquery.js"></script>
    <script th:src="@{/js/checkout.min.js}"></script>
    <script async="true" id="xo-pptm" th:src="@{/js/pptm.js}"></script>
    <!-- Snap Pixel Code -->
    <script type="text/javascript">
        (function (e, t, n) {
            if (e.snaptr) return;
            var a = e.snaptr = function () {
                a.handleRequest ? a.handleRequest.apply(a, arguments) : a.queue.push(arguments)
            };
            a.queue = [];
            var s = 'script';
            r = t.createElement(s);
            r.async = !0;
            r.src = n;
            var u = t.getElementsByTagName(s)[0];
            u.parentNode.insertBefore(r, u);
        })(window, document,'https://sc-static.net/scevent.min.js');
        snaptr('init', '', {
            'user_email': ''
        });

        snaptr('track', 'PAGE_VIEW');
    </script>
    <script>

        $(function () {
            $(".del").click(function () {
                var gcId=$(this).attr("data-id");
                jQuery.post('/remove_goods_cart.htm', {"id": gcId}, function (data) {
                    $(".goods_num").text(data.count);
                    $(".popuppay").text(data.total_price);
                }, "json");
                $(this).parents(".hover_goods_item").remove();
            })


            $(".shopimg").click(function () {
                let href = $(this).parent().attr("href");
                window.location.href = href;
            })

            $(".popup-bt1").click(function () {
                window.location.href="/goods_cart1.htm";
            })


            $(".cart_hover").click(function (e) {
                e.preventDefault();
            })
        })
    </script>
    <!-- End Snap Pixel Code -->
    <link rel="stylesheet" th:href="@{/style/common/css/styles.min.css}">
    <link rel="stylesheet" th:href="@{/style/common/css/sail006.comm.min.css}">
    <style type="text/css">
        @font-face {
            font-family: "Arapey";
            src: url(/font/arapey-italic.ttf);
            font-weight: normal;
            font-style: italic;
        }

        @font-face {
            font-family: "Montserrat";
            src: url(/font/Montserrat-Regular.ttf);
            font-weight: normal;
            font-style: normal;
        }

        @font-face {
            font-family: "Montserrat";
            src: url(/font/Montserrat-SemiBold.ttf);
            font-weight: 700;
            font-style: normal;
        }

        @font-face {
            font-family: "OldStandard";
            src: url(/font/OldStandard-Regular.ttf);
        }
    </style>
    <style type="text/css" class="buyer-font-style">
        @font-face {
            font-family: HelveticaNeue;
            src: url(/font/HelveticaNeue.ttf)
        }

    .sl-main-title, .sl-main-title a {
        font-family: HelveticaNeue !important;
        font-size: 30px !important;
        line-height: 34px !important
    }

    .banner .sl-main-title {
        font-size: 50px !important;
        line-height: 54px !important
    }

    .sl-subhead-title, .sl-subhead-title a {
        font-family: HelveticaNeue !important
    }

    body, input, .product-details * {
        font-family: HelveticaNeue !important;
        font-size: 16px !important
    }</style>
    <title>Liquid  looking for</title>
</head>
<body class="template6-body" style="">
<div class="nav-model-mask J-Mask"></div>
<h1 style="display: none">liquid</h1>
<input type="hidden" class="preview-hide-code" value="1">
<input type="hidden" class="sail-event-page-location" value="index">
<input type="hidden" class="sail-event-page-handler" value="">
<input type="hidden" class="sail-event-recommend-product" value="0">
<input type="hidden" class="J-isPreview" value="0">
<input type="hidden" class="sail-event-referer" value="https://www.xshoppy.com/advantage/templates">
<input type="hidden" class="J-PaypalClientId" value="0">
<input type="hidden" class="J-getCurrentState" value="HK" data-flag="https://static.xshoppy.shop/country_image/HK.png">
<!-- 访客地区 -->
<input type="hidden" class="J-IsRenovation" value="0">
<input type="hidden" class="J-language" value="en">
<input type="hidden" class="J-TemplateStyle" value="general">
<div class="PageContainer J-PageContainer"  style="margin-top:50px;">
    <input type="hidden" class="JH-page-location" value="">
    <input type="hidden" value="1" class="JH-currency-tag">
    <input type="hidden" class="JH-Event-Name" value="index">
    <input type="hidden" class="J-isOpenCurrency" value="1">
    <input type="hidden" class="J-CurrentStateCode" value="USD" data-symbol="$" data-rate-value="1.0000">
    <input type="hidden" class="J-currency-code" value="USD" data-symbol="$" data-rate-value="1.0000">
    <input name="store_id" type="hidden"  class="search" id="store_id" th:value="${store.id}"/>
    <div class="JH-Columns">
        <!--头部 ==> 开始-->
        <div class="header J-Header fixed-top" style="transform: translate3d(0px, 0px, 0px);">
            <!--LOGO & 搜索 & 自定义图标-->
            <div class="logo-box">
                <!-- LOGO -->
                <div class="logo" itemscope="" itemtype="http://schema.org/Organization">

                    <a th:href="@{/store.htm(id=${store.id})}" itemprop="url">
                        <img th:if="${store.storeLogo}" class="lazy-load J-LazyLoad lazy-load-show"
                             th:data-original="${'/'+store.storeLogo.path+'/'+store.storeLogo.name}"
                             th:src="${'/'+store.storeLogo.path+'/'+store.storeLogo.name}+'?x-oss-process=image/interlace,1/format,webp'"
                             alt="" itemprop="logo">
                        <img th:unless="${store.storeLogo}" class="lazy-load J-LazyLoad lazy-load-show"
                             th:data-original="${config.websiteLogo.path+'/'+config.websiteLogo.name}"
                             th:src="${config.websiteLogo.path+'/'+config.websiteLogo.name}+'?x-oss-process=image/interlace,1/format,webp'"
                             alt="" itemprop="logo">
                    </a>

                </div>

                <!-- 搜索 -->
                <div class="search-box">
                    <form th:action="@{/store_goods_search.htm}" method="post" autocomplete="off">

                        <input name="keyword" type="text" placeholder="Start Typing Here" class="search" id="search_box"/>
                    </form>

                    <div class="search-icon">
                        <span class="iconfont icon-sousuo"></span>
                    </div>
                </div>
                <script type="application/javascript">

                    $(document).on('click', '.search-box .search-icon', function () {
                        var sort = "";
                        var search_keyword = $(this).siblings().find('input').val();
                        var type = $(this).siblings('.search-select').length || (window.screen.availWidth < 768) ? ($(this).siblings('.search-select').data('search-type')) : 1;
                        var val = $(this).siblings('.search-select').length || (window.screen.availWidth < 768) ? ($(this).siblings('.search-select').find('option:selected').val()) : '';
                        var url = '/goods_list.htm';
                        var store_id=jQuery("#store_id").val();

                        window.location = url + '?keyword=' + search_keyword+"&type=goods&store_id=" + store_id;
                    });

                    $(document).on('click', '.search-box .icon-sousuo', function () {
                        var sort = "";
                        var search_keyword = $(this).parent().find('input').val();
                        var type = $(this).siblings('.search-select').length || (window.screen.availWidth < 768) ? ($(this).siblings('.search-select').data('search-type')) : 1;
                        var val = $(this).siblings('.search-select').length || (window.screen.availWidth < 768) ? ($(this).siblings('.search-select').find('option:selected').val()) : '';
                        var url = '/goods_list.htm';
                        var store_id=jQuery("#store_id").val();

                        window.location = url + '?keyword=' + search_keyword+"&type=goods&&store_id=" + store_id;
                    });

                    $('#search_box').bind('keydown', function (event) {
                        if (event.keyCode == "13") {
                            //回车执行查询
                            $('.search-box .search-icon').click();
                            return false;
                        }

                    });

                </script>

                <!-- 自定义图标 -->
                <div class="custom-icon">
                    <span class="iconfont icon-L_wuliu"></span>
                    <div class="text">
                        <span>Free Shipping</span>
                        <span>on all orders over $29</span>
                    </div>
                </div>

            </div>
            <!--菜单 & 货币转换 & 购物车图标-->
            <div class="menu-box">
                <div class="nav-icon J-NavMenu">
                    <span class="nav-icon-show top"></span>
                    <span class="nav-icon-show center"></span>
                    <span class="nav-icon-show bottom"></span>
                </div>
                <div class="nav-box">
                    <div class="currency-select">
                        <select>
                            <!--<option data-currency-code="USD">
                                USD
                            </option>-->
                            <option data-currency-code="EUR">
                                EUR
                            </option>
                        </select>
                    </div>
                    <div class="iconfont icon-next-copy to-left" style="display: none;"></div>
                    <div class="J-NavWrap nav-wrap">
                        <div class="background"></div>
                        <ul class="nav sl-subhead-title J-NavList">
                            <li class="nav-item nav-single"> <!-- nav-single 没有二级菜单class -->
                                <a th:href="@{/store.htm(id=${store.id})}">Home</a>
                            </li>

                            <li class="nav-item nav-single"> <!-- nav-single 没有二级菜单class -->
                                <a th:href="@{/goods_list.htm(store_id=${store.id})}">
                                    All products </a>
                            </li>


                            <li class="nav-item nav-single" th:each="ugc,iter : ${ugcaccsorry}" th:if="${iter.count<=10}" > <!-- nav-single 没有二级菜单class -->
                                <a th:href="@{/goods_list.htm(gc_id=${ugc.id},store_id=${store.id})}" th:text="${ugc.classname}"></a>
                            </li>

                            <li class="nav-item J-SubMenu"> <!-- nav-single 没有二级菜单class -->
                                <a href="javascript:;">
                                    more </a>
                                <div class="nav-item-down-menu">
                                    <div>
                                        <!--二级菜单==>广告位前-->

                                        <!--二级菜单-->
                                        <div class="submenu">
                                            <a th:each="ugc : ${ugcaccsorry}" th:href="@{/goods_list.htm(gc_id=${ugc.id},store_id=${goodsStore.id})}" th:text="${ugc.classname}"></a>
                                        </div>

                                        <!--二级菜单==>广告位后-->
                                        <a class="submenu-ad" href="javascript:;">
                                            <img src="https://img.xshoppy.shop/uploader/268e66424c2368522153eed21223d6da.png"
                                                 alt="">
                                            <div>harging through ledges, gaps, and huge</div>
                                        </a>
                                        <a class="submenu-ad" href="javascript:;">
                                            <img src="https://img.xshoppy.shop/uploader/f6859e584f9c6184c14afa3ed8bfb93d.png"
                                                 alt="">
                                            <div>Save 15% with promo code "GARDEN15" Brow</div>
                                        </a>
                                    </div>
                                </div>
                            </li>

                            <!--会员中心==登陆&注册-->

                            <li class="nav-item nav-single nav-member">
                                <a th:if="${user==null}" th:href="@{user/login.htm}">Log in </a>
                                <a th:if="${user!=null}" href="/buyer/index.htm"
                                   class="iconfont icon-gerenzhongxin-1 head-customer"></a>
                            </li>

                            <li class="nav-item nav-single nav-member">
                                <a th:href="@{/register.htm}">Create Account </a>
                            </li>

                        </ul>
                    </div>
                    <div class="iconfont icon-next-copy to-right" style="display: none;"></div>
                </div>

                <div class="operat">
                    <!--店铺装修==> 移动端不显示搜索时，前台只显示搜索图标-->
                    <a class="head-customer iconfont icon-gerenzhongxin-1"
                       th:if="${user==null}" th:href="@{user/login.htm}"></a>
                    <a th:if="${user!=null}" href="/buyer/index.htm"
                       class="iconfont icon-gerenzhongxin-1 head-customer"></a>

                    <a class="head-buycart iconfont icon-gouwu " th:href="@{/goods_cart1.htm}">
                        <i style="display: none;"></i>
                        <div class="goods_num" th:text="${cartSize!=null?cartSize:0}"></div>
                        <div class="cart_hover">
                            <div class="shop-row">
                                <div class="flex-between hover_goods_item" th:each="obj :${goodscarts}">
                                    <div class="flex-star goods_intro">
                                        <object>
                                            <a th:href="@{/goods.htm(id=${obj.goods.id})}">
                                                <img  class="shopimg" th:if="${obj.goods.goods_main_photo}" th:src="@{'/'+${obj.goods.goods_main_photo.path}+'/'+${obj.goods.goods_main_photo.name}}" >
                                                <img th:unless="${obj.goods.goods_main_photo}" th:src="@{'/'+${config.goodsImage.path}+'/'+${config.goodsImage.name}}">
                                            </a>
                                        </object>
                                        <div>
                                            <div class="goods_name" th:text="${obj.goods.goodsName}"></div>
                                            <div class="goods_sp">衣服 黑色 L </div>
                                            <div class="hover_goods_item_price" th:text="'￥'+${obj.price}"></div>
                                        </div>

                                    </div>
                                    <div>
                                        <!--                                <div class="hover_goods_item_price" th:text="'￥'+${obj.price}+' × '+${obj.count}"></div>-->
                                        <div th:text="' × '+${obj.count}"></div>
                                        <!--                                    <p class="del" th:data-id="${obj.id}">删除</p>-->
                                        <img class="removebt del" src="/asset/img/remove.png" th:data-id="${obj.id}"/>
                                    </div>

                                </div>
                            </div>
                            <div class="popupbtzong">
                                <div class="popuppay-row">
                                    <div>total：￥</div>
                                    <p class="popuppay" th:text="${total} "></p>
                                </div>

                                <button class="popup-bt1">进入购物车</button>
                            </div>

                        </div>
                    </a>
                </div>
            </div>

            <!--加购弹窗-->
            <div class="add-cart-popup">
                <div class="title">
                    <div>
                        <span class="desc">Add to your cart</span>
                        <span class="iconfont icon-close J-closeCartPop"></span>
                    </div>
                </div>
                <div class="add-info">
                    <div class="product-info J-CurrentAddProInfo"></div>
                    <div class="cart-info">
                        <div class="cart-total">
                            Cart subtotal <span class="J-Total" data-price="0.00"></span>
                        </div>
                        <div class="cart-btn ">
                            <a th:href="@{/goods_cart1.htm}" class="jh-btn sl-secondary-btn">View cart (<span
                                    class="cart-num"></span>)</a>
                            <button class="jh-btn sl-main-btn J-Gopay jh-btn-disabled" disabled="disabled">Checkout
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--移动端搜索弹窗-->
        <div class="search-popup">
            <div class="search-box">
                <form th:action="@{/store_goods_search.htm}" method="get" autocomplete="off">
                    <input type="search" name="keyword" class="search" placeholder="Start Typing Here" value="">
                </form>
                <div class="cancel J-CancelSearch">
                    Cancel
                </div>
                <div class="search-link">
                    <div class="link-title">Quick Links</div>
                    <a th:each="ugc,iter : ${ugcaccsorry}" th:if="${iter.count<=5}"
                       th:href="@{/goods_list.htm(gc_id=${ugc.id},store_id=${store.id})}"
                       th:text="${ugc.classname}"></a>
                </div>
            </div>
        </div>
        <!--头部 ==> 结束-->
    </div>
    <style>
        .select-nav{
            display : inline;
            white-space : nowrap;
        }
        .select-nav li{
            padding : 5px 5px;
            display : inline-block ;
            white-space : nowrap ;
        }
        .select-nav li :hover{
            background-color: #faad14;
            color: #f0f2f8;
        }

    </style>
    <div class="JH-Columns main section featured-product grid-four featured-product-1Aa  ">
        <div class="search-div"  >
            <div class="search-menu-box">
                <div class="search-nav-box">
                    <style>
                        .search-menu-box .search-J-NavWrap{
                            height: 50px;
                            display: inline-block;
                            line-height: 50px;
                            position: relative;
                            overflow: hidden;
                            flex: 1;
                            width: 98%;
                        }
                        .search-menu-box .search-J-NavWrap ul li{
                            float:left;
                            height:50px;
                            text-align:center;
                            line-height:50px;
                            list-style:none;
                            margin-left: 10px;
                        }
                        .search-menu-box .search-J-NavWrap ul .search-nav-item :hover{
                            background:#FFB902;
                            color: white;
                        }
                    </style>
                    <div class="search-J-NavWrap"   style="background-color: #eee;color:#f2f2f2;"><!--class="select-nav"-->
                        <ul class="search-nav "  style="color: #faad14;margin-left: 25px;">
                            <li class="search-nav-item" th:text="#{messages.sort}+':'"></li>
                            <li class="search-nav-item ">
                                <a  class="" th:href="@{/goods_list.htm(store_id=${store.id},orderBy='addTime',orderType='desc')}" th:text="#{messages.default}"> </a>
                            </li>
                            <li class="search-nav-item">
                                <a  class="" th:href="@{/goods_list.htm(store_id=${store.id},orderBy='store_price',orderType='asc')}" th:text="#{messages.price}"> </a>
                            </li>
                            <li class="search-nav-item">
                                <a  class="" th:href="@{/goods_list.htm(store_id=${store.id},orderBy='goods_salenum',orderType='desc')}" th:text="#{messages.sale}"></a>
                            </li>
                            <li class="search-nav-item">
                                <a  class="" th:href="@{/goods_list.htm(store_id=${store.id},orderBy='goods_click',orderType='desc')}" th:text="#{messages.by.popularity}"></a>
                            </li>
                            <li class="search-nav-items">
                                <span th:text="#{messages.price}+':'"></span>
                                <from action="/goods_list.htm" method="POST" style="margin-left: 10px;" id="price_search" >
                                    <input type="hidden" name="type" value="goods" />
                                    <input type="hidden" name="store_id" th:value="${store.id}" />
                                    <input type="text"   name="begin_price" />
                                    <span>~</span>
                                    <input type="text" name="end_price" />
                                    <input  type="button" onclick="submit_search()"  th:value="#{messages.search}"   style="margin-left: 7px;border-radius: 2px;width: 55px" />
                                </from>
                            </li>
                        </ul>
                    </div>
                    <script>
                         function submit_search () {
                            var url = '/goods_list.htm';
                            var begin_price =$("input[name=begin_price]").val();
                            var end_price =$("input[name=end_price]").val();
                            var store_id=jQuery("#store_id").val();
                            window.location = url + '?begin_price=' + begin_price+"&end_price="+end_price+"&type=goods&orderBy=store_price&orderType=asc&store_id=" + store_id;
                        }
                    </script>
                </div>
            </div>
        </div>


        <div class="swiper-container swiper-container-horizontal">
            <!--class="swiper-wrapper category-img-front"-->
            <style>
                .classify li{
                    display: inline-block;
                }
            </style>
            <ul class="classify"  style="transform: translate3d(0px, 0px, 0px);">
                <li th:each="goods :${objs}" class="swiper-slide swiper-slide-visible swiper-slide-next" itemscope="" itemtype="http://schema.org/Product" style="width:23%; margin-right: 20px;">
                    <meta itemprop="name" th:content="${goods.goodsName}">
                    <meta itemprop="url" th:content="@{goods.htm(id=${goods.id})}">
                    <meta itemprop="image"
                          th:content="@{'/'+${goods.goods_main_photo.path}+'/'+${goods.goods_main_photo.name}}">
                    <div class="img-wrapper">
                        <a th:href="@{goods.htm(id=${goods.id})}" style="">
                            <div>
                                <img th:if="${goods.goods_main_photo}" class="lazy-load J-LazyLoad lazy-load-show" data-widths="[]"
                                     th:data-original="@{'/'+${goods.goods_main_photo.path}+'/'+${goods.goods_main_photo.name}}"
                                     th:src="@{'/'+${goods.goods_main_photo.path}+'/'+${goods.goods_main_photo.name}}"
                                     alt="Mouth  Moment  SnowGoggles">
                                <img th:unless="${goods.goods_main_photo}" class="lazy-load J-LazyLoad lazy-load-show" data-widths="[]"
                                     th:data-original="@{'/'+${goods.goods_main_photo.path}+'/'+${goods.goods_main_photo.name}}"
                                     th:src="@{'/'+${goods.goods_main_photo.path}+'/'+${goods.goods_main_photo.name}}"
                                     alt="Mouth  Moment  SnowGoggles">
                            </div>
                            <div>
                                <img th:if="${goods.goods_main_photo}" th:src="@{'/'+${goods.goods_main_photo.path}+'/'+${goods.goods_main_photo.name}}"
                                     alt="Mouth  Moment  SnowGoggles">
                                <img th:unless="${goods.goods_main_photo}" th:src="@{'/'+${goods.goods_main_photo.path}+'/'+${goods.goods_main_photo.name}}"
                                     alt="Mouth  Moment  SnowGoggles">
                            </div>
                        </a>
                        <div class="sale-tag sl-subhead-title">
                            Save <span class="save-price" data-price="10.00" th:text="${#numbers.formatDecimal((goods.goodsPrice - goods.storePrice)/goods.goodsPrice*100,1,2)}+'%'"></span>
                        </div>
                        <!--<div data-id="10079583" data-show-sale-tag="1" data-show-inventory="0"
                             class="jh-btn sl-main-btn JH-Event-BuyCart add-to-cart ">
                            <span data-handler="mouth-moment-snowgoggles"></span>
                            查看详情
                        </div>-->
                    </div>

                    <div class="good-info" itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
                        <meta itemprop="priceCurrency" content="USD">
                        <link itemprop="availability" href="http://schema.org/InStock">
                        <p class="price">
                            <span class="visually-hidden" aria-hidden="false">Sale price</span>
                            <span class="pay-price sl-subhead-title" th:data-seller-price="${goods.storePrice}" th:data-price="${goods.storePrice}"
                                  itemprop="price" th:content="${goods.storePrice}" th:text="'￥'+${goods.storePrice}">
                            </span>

                            <span class="visually-hidden" aria-hidden="false">Regular price</span>
                            <span class="orig-price sl-subhead-title" th:data-seller-price="${goods.goodsPrice}" th:data-price="${goods.goodsPrice}" th:text="'￥'+${goods.goodsPrice}">
                            </span>
                        </p>
                        <div class="name">
                            <a th:href="@{goods.htm(id=${goods.id})}">
                                <span th:text="${goods.goodsName}"></span>
                            </a>
                        </div>
                    </div>
                </li>

            </ul>
            <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
        </div>
        <!--<div class="swiper-navigation">
            <div class="swiper-button-next iconfont icon-next-copy" tabindex="0" role="button" aria-label="Next slide"
                 aria-disabled="false"></div>
            <div class="swiper-button-prev iconfont icon-back-copy swiper-button-disabled" tabindex="0" role="button"
                 aria-label="Previous slide" aria-disabled="true"></div>
        </div>-->
    </div>


    <script type="text/javascript" src="/js/Swiper.js"></script>
    <script type="text/javascript">
        new Swiper('.featured-product-1Aa .swiper-container', {
            watchOverflow: true,
            parallax: true,
            slidesPerView: 4,
            spaceBetween: 20,
            slidesPerGroup: 4,
            watchSlidesVisibility: true,
            //移动端
            breakpoints: {
                768: {
                    slidesPerView: 2,
                    slidesPerGroup: 1,
                    // spaceBetween: 10,
                }
            },
            navigation: {
                nextEl: '.featured-product-1Aa .swiper-button-next',
                prevEl: '.featured-product-1Aa .swiper-button-prev',
            }
        });
    </script>

    <footer class="JH-Columns footer J-footer" style="padding-bottom: 0px;">
        <div class="footer-main">
            <div>
                <div class="footer-share">
                    <h4>Follow Us</h4>
                    <a href="https://facebook.com" target="_blank">
                        <span class="iconfont icon-facebook"></span>
                        <em>Facebook</em>
                    </a>
                    <a href="https://twitter.com" target="_blank">
                        <span class="iconfont icon-twittersquare"></span>
                        <em>Twitter</em>
                    </a>
                    <a href="https://instagram.com" target="_blank">
                        <span class="iconfont icon-instagram"></span>
                        <em>Instagram</em>
                    </a>
                    <a href="https://pinterest.com" target="_blank">
                        <span class="iconfont icon-pinterest-circular-l"></span>
                        <em>Pinterest</em>
                    </a>
                </div>
                <div class="footer-menu">
                    <h4 class="J-FooterMenu">Footer menu</h4>
                    <div>
                        <a th:href="@{/store.htm(id=${store.id})}">
                            Home </a>
                        <a th:href="@{/store_goods_search.htm}">
                            Search </a>
                    </div>
                </div>

                <div class="footer-text">
                    <h4>Rich text</h4>
                    <div>Use this section to welcome customers to your store, say a bit about your brand, or share news
                        and seasonal promotions.
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-main">
            <div>
                <div class="reserved">© 2020 liquid</div>
                <div class="payment-method">
                    <img src="https://static.xshoppy.shop/buyer/public/img/payment/paypal.svg" alt="Payment">
                    <img src="https://static.xshoppy.shop/buyer/public/img/payment/visa1.svg" alt="Payment">
                    <img src="https://static.xshoppy.shop/buyer/public/img/payment/mastercard.svg" alt="Payment">
                    <img src="https://static.xshoppy.shop/buyer/public/img/payment/maestro.svg" alt="Payment">
                    <img src="https://static.xshoppy.shop/buyer/public/img/payment/AmericanExpress.svg" alt="Payment">
                </div>
            </div>
        </div>
    </footer>

    <div class="product-types-box">
        <div class="recommend">
            <div class="recom-item pl40 J-Product">
                <h4 class="title J-Product-Title sl-main-title"></h4>
                <div class="price">
                    <span class="pay-price J-Pay-Price" data-price=""></span>
                    <span class="orig-price J-Orig-Price" data-price=""></span>
                </div>

                <div class="products-tisp J-ProductsTisp">
                    <span></span>
                </div>

                <div class="jh-specification choose-style-box"></div>

                <div class="types-btn">
                    <!-- 数量 -->
                    <div class="types-item quantity ">
                        <label>Quantity</label>
                        <div class="jh-input-number jh-input-number-min">
                            <span class="jh-input-number-decrease is-disabled iconfont icon-move J-ProductReduce"></span>
                            <span class="jh-input-number-increase iconfont icon-add J-ProductAdd"></span>
                            <div class="jh-input-box">
                                <input type="text" class="jh-input J-ProductNumber sl-subhead-title"
                                       onkeyup="value = value ==0 ? 1 : (value.replace(/[^0-9]/g, ''))" value="1">
                            </div>
                        </div>
                        <div class="inventory-quantity"></div>
                    </div>
                    <!-- 加购  paypal -->
                    <div>
                        <button class="jh-btn sl-subhead-title sl-secondary-btn JH-BuyCart">
                            <span class="btn-text">Add To Cart</span>
                            <span class="iconfont icon-jiazai loading "></span>
                        </button>
                    </div>

                </div>
                <div class="good-quantity-tips J-InventoryQuantity"></div>
            </div>
        </div>
        <div class="pop-close iconfont icon-close"></div>
    </div>
    <input type="hidden" class="J-SwitchType" value="select">
    <input type="hidden" class="J-AddCartAction" value="pop">
    <div class="backtop J-GoTop" style="display: block;">
        <span class="iconfont icon-huidingbu1"></span>
    </div>
</div>


<script type="text/javascript" src="https://static.xshoppy.shop/buyer/public/js/plug/Swiper.js?v=0517"></script>
<script type="text/javascript" th:src="@{/js/jhPlugin.js}"></script>
<script type="text/javascript" th:src="@{/js/index.js}"></script>
<script type="text/javascript" src="https://static.xshoppy.shop/buyer/public/js/lib/event.js?v=20200818144522"></script>
</body>
</html>
