<!DOCTYPE>
<html xmlns:th="http://www.thymeleaf.org">


<div class="evaluone">
  <table width="797" border="0" cellspacing="0" cellpadding="0" class="evaluonetable">
    <tr>
      <td width="80" th:text="#{messages.evalution}"></td>
      <td width="140" th:text="#{messages.content}"></td>
      <td width="100" align="center" th:text="#{messages.good}"></td>
      <td width="60" align="center" th:text="#{messages.money}"></td>
      <td width="100" align="center" th:text="#{messages.buyer}"></td>
      <td width="100" align="center" th:text="#{messages.time}"></td>
    </tr>
    <tr th:each="obj :${objs}" >
      <td th:if="${obj.evaluateBuyerVal==1}" th:text="#{messages.praise.nice}"></td>
      <td th:if="${obj.evaluateBuyerVal==0}" th:text="#{messages.praise.normal}"></td>
      <td th:if="${obj.evaluateBuyerVal==-1}" th:text="#{messages.praise.low}"></td>
      <td th:if="${obj.evaluateInfo}" th:text="${obj.evaluateInfo }"></td>
      <td th:if="${obj.evaluateInfo}"  th:text="#{messages.praise.no}"></td>
      <td class="goodsevalu">
        <span class="nameevalu">
          <a th:href="@{/goods.htm(id=${obj.evaluateGoodsId})}" target="_blank" th:text="${obj.evaluate_goods.goodsName}"></a>
        </span>
      </td>
      <td align="center">
        <strong class="orange" th:text="'¥'+${obj.of.totalprice}"></strong>
      </td>
      <td align="center" th:text="${obj.evaluate_user.username}"></td>
      <td align="center" th:text="${#dates.format(obj.addtime,'yyyy-MM-dd HH:mm:ss')}"></td>
    </tr>
  </table>
</div>
<div class="fenye">
  <div class="fenyes" th:utext="${gotoPageAjaxHTML}"></div>
</div>


</html>
