﻿<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="proevalueation">
    <div th:if="${rows==0}" class="novalue"> 还没有咨询内容 </div>
    <div th:unless="${rows==0}" class="havevaluelist">
        <dl th:each="obj :${objs}">
            <dt>
                <span class="blue">咨询内容：</span>
                <i th:text="${obj.consultContent}"></i>
                <em th:text="${obj.consult_user!=null ? obj.consult_user.username :'匿名'}"></em>
                <b th:text="${#dates.format(obj.addtime,'yyyy-MM-dd')}"></b>
            </dt>
            <dd>
                <span th:if="${obj.consultReply}" class="orange">店家回复：</span>
                <i th:text="${obj.consultReply}"></i>
                <em></em>
                <b th:text="${#dates.format(obj.replyTime,'yyyy-MM-dd')}"></b>
            </dd>
        </dl>
    </div>
    <div class="fenye">
        <div class="fenyes" th:utext="${gotoPageAjaxHTML}"></div>
    </div>
    <script>
        function refreshCode(){
            jQuery("#code_img").attr("src","/verify.htm?name=consult_code&d"+new Date().getTime());
        }
        jQuery(document).ready(function(){
            var securityCodeConsult=jQuery("#securityCodeConsult").val();
            jQuery("#theForm").validate({
                rules:{
                    consult_content:{
                        required:true},

            consult_code:{
                required:true,
                    remote:{
                    url: "/verify_code.htm",     //后台处理程序
                        type: "post",               //数据发送方式
                        dataType: "json",           //接受数据格式
                        data: {                     //要传递的数据
                        "code": function(){return jQuery("#consult_code").val();},
                        "code_name":"consult_code"
                    }
                }
            }
        },
            messages:{
                consult_content:{required:"咨询内容不能为空"},
               /* if($config.securityCodeConsult),*/
                consult_code:{
                    required:"验证码不能为空",
                    remote:"验证码不正确"
                }
            }
        });
        });
    </script>
    <form th:action="@{/goods_consult_save.htm}" method="post" id="theForm">
        <div class="havevalue">
            <table width="797" border="0" cellspacing="0" cellpadding="0" class="havetable">
                <tr>
                    <td width="60" valign="top">我要咨询：</td>
                    <td colspan="3" class="havetext">
                        <textarea name="consult_content" id="consult_content" cols="45" rows="5"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>电子邮件：</td>
                    <td width="159" class="haveinput">
                        <input name="consult_email" type="text" id="consult_email" th:value="${user==null?'': user.email }" /></td>
                    <td width="50" align="right" th:if="${config.securitycodeconsult}">
                        验证码：</td>
                    <td width="528" class="havecode">

                        <span th:if="${config.securitycodeconsult}" class="haveinput">
                            <input name="consult_code" type="text" id="consult_code" size="10" style="width:60px;text-transform:uppercase;" />
                            <a th:if="${config.securitycodetype=='voice'}" href="javascript:void(0);"  onclick="readCode('consult')" title="朗读验证码">
                                <img th:src="@{/style/common/images/speaker.gif}" border="0" />
                            </a>
                            <span id="consult"></span>
                            <span class="login_error_sp" style="display:none"></span>
                                   <script>
                                   function readCode(id){
                                       var  s = "<embed id='sound_play' name='sound_play' src='/flash/soundPlayer.swf?" + (new Date().getTime()) + "' FlashVars='url="+ "' width='0'   height='0' allowScriptAccess='always' type='application/x-shockwave-flash' pluginspage='http://www.macromedia.com/go/getflashplayer' /></embed>";
                                       jQuery("#"+id).html(s);
                                   }
                                   </script>
                        </span>
                        <span class="codesimg" th:if="${config.securitycodetype=='voice'}" style="display:none">
                            <img style="cursor:pointer;" th:src="@{/verify.htm(name=${consultCode})}" id="code_img" onclick="refreshCode();" width="59" height="27" />
                        </span>
                         <span class="nonamef">
                          <input name="Anonymous" type="checkbox" value="true" id="Anonymous" />
                          &nbsp;&nbsp;匿名发表</span><span class="havebtn">
                          <input name="" type="submit"  value="发表咨询" style="cursor:pointer;"/>
                          <input name="goods_id" type="hidden" id="goods_id" th:value="${goods_id}" />
                        </span>
                    </td>
                </tr>
            </table>
        </div>
    </form>
</div>
</html>
