<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>500错误 </title>
<link href="/style/system/front/default/css/public.css" type="text/css" rel="stylesheet" />
<link href="/style/system/front/default/css/index.css" type="text/css" rel="stylesheet" />
<link href="/style/system/front/default/css/error.css" type="text/css" rel="stylesheet" />
<script src="/js/jquery-1.6.2.js"></script>
</head>
<body>
<div class="main">
  <!--$!httpInclude.include("/head.htm")-->

  <div class="index">
    <div class="index2">
      <div class="errorpage">
        <div class="errortop"></div>
        <div class="errordex">
          <div class="pagertop">
            <h1 th:text="#{messages.error.500}"></h1>
            <p><span th:text="#{messages.error.notice}"></span></p>
            <p>
              <span>
                <span th:text="'1.'+#{messages.login}"></span>
                <a href="#" target="_blank" th:text="#{messages.error.notice1}"></a>
                 <span th:text="#{messages.error.notice2}"></span>
              </span>
            </p>
            <p>
              <span>
                <span th:text="'1.'+#{messages.login}"></span>
                <a href="#/bbs" target="_blank" th:text="#{messages.error.notice3}"></a>
                <span th:text="#{messages.error.notice4}"></span>
              </span>
            </p>
          </div>
          <div class="errp">
            <div class="errpbox">
              <div class="errorimg"><img src="/system/front/default/images/error/error500.jpg" width="150" height="220" /></div>
              <div class="errorback"><a href="/index.htm" th:text="#{messages.error.return}"></a></div>
            </div>
          </div>
        </div>
        <div class="errorbtom"></div>
      </div>
    </div>
  </div>
    <script>
	  var count=3;
	  window.setInterval(go,1000);
	  function go(){
	    count--;
	    if(count==0) window.location.href="/index.htm";
	  }
	</script>
  $!httpInclude.include("/footer.htm")
</div>
</body>
</html>
