<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link th:href="@{/style/common/css/window.css}" type="text/css" rel="stylesheet" />
<script>
jQuery.validator.addMethod("mobile_telephone",function(value,element){
  if(jQuery("#telephone").val()==""&&jQuery("#mobile").val()==""){
     return false;

  }else return true;
});
jQuery(document).ready(function(){
  //
 jQuery("#theForm").validate({
	ignore: "",
    rules:{
	  trueName:{required :true},
	  area_id:{required :true},
	  area_info:{required :true},
	  telephone:{mobile_telephone :true}
	 },
	messages:{
	  trueName:{required :"收货人不能为空"},
	  area_id:{required :"请选择详细区域"},
	  area_info:{required :"详细地址不能为空"},
	  telephone:{mobile_telephone :"联系电话、手机至少填写一项"}
	}
  });
    //
 /*jQuery("select").change(function(){
     var level=jQuery(this).attr("level");
	 var id=jQuery(this).val();
	 if(id!=""){
	  jQuery.post("/load_area.htm",{"pid":id},function(data){
	     jQuery("#area"+level).empty();
		  jQuery("#area"+level).append("<option value=''>请选择</option>");
	    jQuery.each(data, function(index,item){
		  jQuery("#area"+level).append("<option value='"+item.id+"'>"+item.areaName+"</option>");
		  jQuery("#area"+level).show();
		});
	  },"json");
	 }else{
	   for(var i=level;i<=3;i++){
	    jQuery("#area"+i).empty();
	    jQuery("#area"+i).hide();
	   }
	 }
  });*/
  //
 jQuery("#area3").change(function(){
   var id=jQuery(this).val();
   jQuery("#area_id").val(id);
 });
});
</script>
</head>
<body>


<form th:action="@{/cart_address_save.htm}" method="post" id="theForm">
  <input type="hidden" name="ids" id="ids" th:value="${ids}">
  <table style="float:left;" width="100%" border="0" cellspacing="0" cellpadding="0" class="box_table">
    <tr>
      <td width="100" align="right" valign="top">
        <span class="hui_table" th:text="#{messages.consignee.name}+':'"></span>
        <input name="id" type="hidden" id="id"  th:value="${obj!=null?obj.id:''}" />
      </td>
      <td align="left"><span class="dia_txt">
        <input name="trueName" type="text" id="trueName" th:value="${obj !=null ? obj.truename:''}" size="35" />
      </span></td>
    </tr>
    <tr>
      <td width="100" align="right" valign="top">
        <span class="hui_table" th:text="#{messages.sex}+':'"></span>
      </td>
      <td align="left" id="sex">
        <span class="dia_txt">
          <select name="sex" >
            <option value="M.">M.</option>
            <option value="Mme">Mme</option>
            <option value="Mlle">Mlle</option>
          </select>
      </span>
      </td>
    </tr>

    <tr>
      <td width="100" align="right" valign="top">
        <span class="hui_table" th:text="#{messages.countries}+':'">国家：</span>
      </td>
      <td align="left">
        <input name="countries" id="countries" th:value="${obj !=null ? obj.countries:''}" size="35" >
      </td>
    </tr>

    <tr>
      <td width="100" align="right" valign="top">
        <span class="hui_table" th:text="#{messages.company}+':'"></span>
      </td>
      <td align="left">
        <input name="company" type="text" id="company" th:value="${obj !=null ? obj.company:''}" size="35" />
        </span>
      </td>
    </tr>

    <tr>
      <td width="100" align="right" valign="top">
        <span class="hui_table" th:text="#{messages.city}+':'">/span>
      </td>
      <td align="left">
        <input name="city" type="text" id="city" th:value="${obj !=null ? obj.city:''}" size="35" />
        </span>
      </td>
    </tr>

    <!--
    <tr>
      <td align="right" valign="top">
        <span class="hui_table">région：</span>
      </td>
      <td align="left">
      <span id="area_area_info" th:text="${obj!=null}?(${obj.area.parent.parent.areaname}+${obj.area.parent.areaname}+${obj.area.areaname}):''"></span>
        <select name="area1" id="area1" level="2" th:style="'width:100px;'+${obj!=null ? 'display:none;' :''}">
          <option value="" selected="selected">Veuillez sélectionner la région</option>
          <option th:each="area :${areas}" th:value="${area.id}" th:text="${area.areaname}"></option>
        </select>
                  <input type="button" name="area_edit" id="area_edit" value="La modification" th:style="${obj==null?'display:none;':''}" onclick="javascript:jQuery('#area1').show();jQuery('#area_area_info').empty();jQuery('#area_id').val('');jQuery(this).hide();" />
                  <select name="area2" id="area2" style="display:none;width:60px;" level="3">
                  </select>
                  <select name="area3" id="area3" style="display:none;width:60px;" level="4">
                  </select>
                  <input name="area_id" type="hidden" id="area_id"  th:value="${obj!=null?obj.areaId:''}"/>
      </td>
    </tr>
   -->
    <tr>
      <td align="right" valign="top"><span class="hui_table" th:text="#{messages.detailed.address}+':'"></span>：</td>
      <td align="left">
        <span class="dia_txt">
          <input name="area_info" type="text" id="area_info" th:value="${obj!=null?obj.areaInfo:''}" size="35" />
        </span>
      </td>
    </tr>
    <tr>
      <td align="right" valign="top"><span class="hui_table" th:text="#{messages.zip}"></span>：</td>
      <td align="left"><span class="dia_txt">
        <input name="zip" type="text" id="zip" th:value="${obj!=null?obj.zip:''}" size="35" />
      </span></td>
    </tr>
    <tr>
      <td align="right" valign="top"><span class="hui_table" th:text="#{messages.telephone}">手机号码</span>：</td>
      <td align="left" id="other_reason2"><span class="dia_txt">
        <input name="telephone" type="text" id="telephone" th:value="${obj!=null?obj.telephone:''}" size="35" />
      </span></td>
    </tr>
    <tr>
      <td align="right" valign="top"><span class="hui_table" th:text="#{messages.mobile}">联系号码</span>：</td>
      <td align="left"><span class="dia_txt">
        <input name="mobile" type="text" id="mobile" th:value="${obj!=null?obj.mobile:''}" size="35" />
      </span></td>
    </tr>
    <tr>
      <td colspan="2" align="center"><span class="inputbtn">
        <input name="" type="submit" th:value="#{messages.submit}" style="cursor:pointer;"/>
        <input name="currentPage" type="hidden" id="currentPage" th:value="${currentPage}" />
      </span></td>
    </tr>
  </table>
</form>
</body>
</html>
