<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <script>
    jQuery(document).ready(function(){
      var data='$!obj.goods_property';
      var properties=eval("("+data+")");
      jQuery.each(properties,function(index,item){
        jQuery(".goodsintro").append("<span>"+item.name+":"+item.val+"</span>");
      });
    });
  </script>
</head>
<body>
<div class="goodsdetails" id="details_tab">
  <div class="goodsintro"></div>
  <div style="margin-top:10px;" th:utext="${obj.goodsDetails}" ></div>
</div>
</body>
</html>
